@charset "utf-8";
/* CSS Document */

/*Menú*/

@media (max-width:1235px){
	.dropdown {
	padding-left:25px;

	}
	.dropdown2 {
	padding-left:25px;
	}
}
@media (max-width:1052px){
	.menu{
		font-size:17px;
		z-index:1;
		overflow:hidden;
	}
	.menu ul{
		display:block;
		margin-left:0%;
	}
	.menu ul a{
		display:none;
		line-height:0px;
		margin-top:0%;
	}
	.menu ul a{
		color:#eeeeee;
		margin-left:0%;
	}
	.hamburguesa{
		display:block !important;
		float:right;
		margin-right:5%;
		margin-top:2.5%;
	}

}
@media (max-width:1052px){
	.menu.responsive{
		position:absolute;
		height:auto;
		width:100%;
		top:0;
		z-index:1;
	}
	.menu.responsive ul a{
		display:block;
		font-size:18px;
		width:99%;
		text-align:center;
		padding:4px;
		padding:10px;
	}
	.menu.responsive ul a{
		margin-bottom:4%;
	}
	.menu.responsive hamburguesa{
		position:absolute;
		margin-right:0%;
		margin-top:3%;
		color:#fff;
	}
	.dropdown{
		padding-left:0px;
	}
		.dropdown2 {
	padding-left:0px;
	}
	.dropdown-content{
		height:auto;
		position:relative;
	}
	.dropdown2-content2{
		height:auto;
		position:relative;
	}
	.menu ul a .dropdown-content a {
	  padding: 5px 12px !important;
	}
	.menu ul a .dropdown2-content2 a {
	  padding: 5px 12px !important;
	}
	.logomenu {
		width: 60px;
		height: 60px;
		position:absolute;
		top:15px;
		left:15px;
	}
	.dias{
		width:25%;
		top:20px;
	    left: 65px;
	}
	.menu.responsive ul a:hover{
		background-color:rgba(255,255,255,0.2);
	}
}

/*Index*/
@media(max-width:1800px){
	.menu ul a {
		font-size: 17px;
	}
	
	.menu ul{
		width: 60%;
		margin-left:25%;
	}
	
	.divlogo{
		width:20%;
	}
	.divtitulo{
		width:auto;
	}
	.divtitulo h2 {
		font-size: 55px;
		margin-left: -15%;
		width: 475px;
	}
	.divtitulo p {
		font-size: 36px;
		font-weight: bold;
		margin-left: -10%;
		margin-top: 15px;
		text-shadow: 2px 2px 3px #D0CECE;
	}
	.divimg img {
		width: 350px;
		height: 320px;
	}
	.divtxt h2 {
   		font-size: 36px;
	}
	.mainquote h3 {
    	font-size: 38px;
	}
	.programar p {
    	font-size: 32px;
	}
	.blogsection{
		height:480px;
	}
	.blogtxt p {
   		padding-top: 100px;
	}
	.infofooter{
		font-size:20px;
	}
}

@media(min-width:1450px){
	.header1{
		background-size:cover;
		background-position:center;
	}
}

@media(max-width:1095px){
	.blogtxt p{
		font-size:25px;
	}
	.divimg img{
		width:300px;
		height:270px;
	}
	.mainquote h3 {
  		font-size: 36px;
	}
	.footerredes{
		margin-left:20%;
	}
	.bodyprin{
		margin-top:-80px;
	}
}

@media(max-width:990px){
	.header1{
		background-position: center;
		height:580px;
	}
	.divlogo img{
		width:140px;
		margin-top:230px;
	}
	.divtitulo h2{
		font-size:48px;
		width:415px;
		margin-top:285px;
	}
	.divtitulo p{
		font-size:32px;
	}
	.divimg img{
		width:270px;
		height:240px;
	}
	.mainquote h3{
   		font-size: 34px;
	}
	.infofooter{
		margin-left:10px;
	}
}

@media(max-width:860px){
	.header1{
		background-position: center;
		height:550px;
	}
	.divlogo img{
		width:120px;
	}
	.divtitulo h2{
		font-size:45px;
		margin-left:-7%;
		margin-top:270px;
		text-shadow: 1px 1px 5px #D0CECE;
		width:390px;
	}
	.divtitulo p{
		font-size:28px;
		margin-top:15px;
		margin-left:-5%;
	}
	.blogtxt p{
		font-size:22px;
	}
	.blogtxt h3{
		font-size:22px;
		margin-top:40px;
	}
	.divimg img{
		width:250px;
		height:220px;
	}
	.divtxt h2{
		margin-top:65px;
		padding-top:210px;
	}
	.mainquote h3{
    	font-size: 30px;
	}
	.programar p{
  		font-size: 30px;
	}
	.programar h3{
   		font-size: 28px;
	}
	.footerredes{
		margin-left:15%;
	}
	.footerinfo{
		margin-left:5%;
	}
	.infofooter{
		font-size:18px;
	}
}

@media(max-width:780px){
	.header1{
		height:500px;
	}
	.dias{
		width:30%;
	}
	.divtitulo h2{
		font-size:40px;
		margin-left:1%;
		margin-top:270px;
		text-shadow: 1px 1px 5px #D0CECE;
		width:345px;
	}
	.divtitulo p{
		font-size:26px;
		margin-top:10px;
		margin-left:1%;
	}
	.divimg img{
		width:220px;
		height:190px;
	}
	.divtxt h2{
		font-size: 32px;
		margin-top: 100px;
		padding-top: 180px;
	}
}

@media(max-width:700px){
	.header1{
		height:400px;
	}
	.divtitulo h2{
		width:345px;
		margin-top:240px;
	}
	.divlogo img{
		margin-top:200px;
	}
	.bodyprin{
		display:block;
		margin-top:-50px;
	}
	.bodysec{
		width:100%;
	}
	.divtxt h2{
		width:60%;
	}
	.divimg img{
		width:250px;
		height:220px;
	}
	.mainquote h3{
		font-size: 28px;
		margin-top:70px;
	}
	.programar p{
		font-size: 28px;
		margin-top:70px;
	}
	.programar h3{
		font-size: 26px;
		width:280px;
	}
}

@media(max-width:657px){
	.blogsection{
		background-image:url('../img/index/2resp.jpg');
	}
	.blogtxt{
		width:100%;
	}
	.blogtxt p{
		font-size:22px;
		text-shadow:2px 2px 5px #4D4955;
	}
	.blogtxt h3{
		font-size:22px;
		margin-top:35px;
	}
	.fa-2x{
		font-size:30px !important;
	}
	.mainquote h3{
	    font-size: 26px;
	}
	.programar p{
 	   font-size: 26px;
	}
	.programar h3{
		font-size: 24px;
		width:260px;
	}
}

@media(max-width:625px){
	.dias{
		width:37%;
	}
	.divtitulo h2{
		width:310px;
		font-size:36px;
		margin-top:230px;
		margin-left:-20%;
	}
	.divtitulo p{
		font-size:22px;
		margin-top:10px;
		margin-left:-15%;
	}
	.divlogo{
		width:50%;
	}
	.divlogo img{
		width:100px;
		margin-top:195px;
	}
	.mainquote h3 {
 		font-size: 25px;
	}
	.programar p{
   		font-size: 25px;
	}
	.programar h3{
		font-size: 23px;
		width:250px;
	}
}

@media(max-width:580px){
	.logomenu{
		width:50px;
		height:50px;
		top:20px;
	}
	.dias{
		top:30px;
	}
	.menu.responsive ul a{
		text-align:left;
	}
	.header1{
		background-image:url('../img/index/1resp.jpg');
		background-position:center;
		background-size:contain;
		width:100%;
	}
	.bodyprin{
		margin-top:-40px;
	}
	.divtitulo h2{
		width:310px;
		font-size:36px;
		margin-top:200px;
		margin-left:0px;
	}
	.divtitulo p{
		font-size:22px;
		margin-top:10px;
		margin-left:10px;
	}
	.divtitulo{
		width:70%;
	}
	.divlogo{
		width:30%;
	}
	.divlogo img{
		width:90px;
		margin-top:180px;
	}
	.divtxt h2 {
		font-size: 28px;
		margin-top: 100px;
		padding-top: 170px;
	}
	.divimg img{
		width:230px;
		height:200px;
	}
	.mainquote h3{
    	font-size: 24px;
	}
	.programar p{
    	font-size: 24px;
	}
	.programar h3{
		font-size: 22px;
		width:230px;
	}
	footer{
		display:block !important;
		height:auto;
	}
	.footerinfo{
		width:100%;
		margin-left:0px;
	}
	.footerredes{
		width:50%;
		margin-top:15px;
		margin-left:35%;
		padding-bottom:10px;
	}
	.imgfooter{
		width:35%;
	}
	.imgfooter img{
		margin-top:15px;
		width:70px;
	}
	.infofooter{
		margin-top:35px;
		width:65%
	}
	.tamarindo{
		padding-bottom:10px;
	}
}

@media(max-width:485px){
	.header1{
		height:450px;
	}
	.bodyprin{
		margin-top:-100px;
	}
	.menu.responsive ul a{
		font-size:15px;
	}
	.divtitulo h2{
		width:295px;
		font-size:34px;
		margin-top:200px;
		margin-left:0px;
	}
	.divtitulo p{
		font-size:20px;
		margin-top:5px;
	}
	.divtitulo{
		width:72%;
	}
	.divlogo{
		width:28%;
	}
	.divlogo img{
		width:80px;
	}
	.mainquote h3{
		font-size: 22px;
		margin-top:50px;
	}
	.programar p{
		font-size: 22px;
		margin-top:50px;
	}
}

@media(max-width:425px){
	.dias{
		width:45%;
	}
	.bodyprin{
		margin-top:-120px;
	}
	.portadasec{
		display:block;
	}
	.divlogo{
		position:relative;
		top:-100px;
		left:10px;
	}
	.divtitulo p{
		font-size:18px;
		text-align:center;
		margin:0px;
		position:relative;
		top:-70px;
		left:60px;
	}
	.divtitulo h2{
		font-size:30px;
		margin-top:0px;
		position:relative;
		top:-75px;
		left:50px;
		text-align:center;
		width:300px;
	}
	.logomenu{
		left:15px;
	}
	.divtxt h2{
		width:70%;
		font-size:26px;
	}
	.mainquote h3 {
  		font-size: 20px;
	}
	.programar p {
  		font-size: 20px;
	}
	.fa-3x{
		font-size:2.5em !important;
	}
	.imgfooter img {
   		width: 55px;
	}
	.infofooter{
		font-size:16px;
	}
	.footerredes{
		margin-left:32%;
	}
}

@media(max-width:400px){
	.header1{
		height:425px;
	}
	.blogtxt p{
		font-size:20px;
		text-shadow:2px 2px 5px #4D4955;
		padding-top:60px;
	}
	.blogtxt h3{
		font-size:20px;
		margin-top:30px;
	}
	.programar h3{
		font-size: 20px;
		width:220px;
	}
}

@media(max-width:367px){
	.divtitulo h2{
		top:-75px;
		left:28px;
		font-size:28px;
	}
		.divtitulo p{
		top:-75px;
		left:70px;
	}
	.menu.responsive ul a{
		font-size:14px;
	}
	.header1{
		height:400px;
	}
}

@media(max-width:328px){
	.dias{
		width:55%;
	}
	.header1{
		height:350px;
	}
	.menu.responsive ul a{
		font-size:12px;
	}
	.divtitulo h2{
		top:-75px;
		left:10px;
		font-size:28px;
		width:280px;
	}
		.divtitulo p{
		top:-75px;
		left:50px;
	}
	.divtxt h2 {
		font-size: 22px;
		margin-top: 120px;
		padding-top: 140px;
	}
	.divimg img{
		width:195px;
		height:165px;
	}
	.mainquote h3 {
	    font-size: 20px;
	}
	.programar p {
 	   font-size: 20px;
	}
	.imgfooter{
		width:22%;
	}
	.imgfooter img {
  		width: 45px;
	}
	.infofooter{
		font-size:14px;
		margin-left:0%;
		width:78%;
	}
	.footerredes{
		margin-left:28%;
	}
	.fa-3x{
		font-size:2em !important;
	}
}

/*Sobre Mí*/

@media(max-width:1800px){
	.titulosobre h1 {
  	  font-size: 60px;
	}
	.quotesobre p {
    	font-size: 22px;
	}
	.experienciatxt{
		width:55%;
	}
	.experienciaimg{
		background-color:#dad1e0;
		width:45%;
	}
	.experienciatxt h3 {
		font-size: 40px;
		margin-top: 80px;
	}
	
	.experienciatxt p{
		font-size:	1.3vw;
		line-height:30px;
		margin-top:69px;
		margin-right:20%;
	}
	.exp2 p{
		font-size:	1.3vw;
		margin-left:11%;
		margin-right:15%;
		margin-top:0px;
		line-height:30px;
	}
	.bioback {
		position: relative;
		top: 0px;
		z-index: -1;
		margin-top:-1350px;
		height:1450px;
	}
	.bioback h3{
		font-size:40px;
		padding-top:60px;
	}
	.biografiaprin{
		padding-bottom:80px;
		margin-top:250px;
	}
	.biografiaimg img {
		width: 85%;
		margin-top: 0px;
	}
	.biografiatxt p{
		padding-top:0%;
		font-size:1.3vw;
	}
	.titulotestimonios h3{
		font-size:40px;
	}
	.testimonios p {
		font-size: 17px;
		margin-top: 40px;
		line-height: 20px;
	}
	.testimonios h3 {
		font-size: 20px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.testimoniosprin{
		padding-bottom:50px;
	}
	.videosprin{
		height:400px;
	}
	.titulointereses{
		margin-top:100px;
	}
	.titulointereses h3{
		font-size:40px;
	}
	.titulointereses p{
		font-size:17px;
		line-height:27px;
	}
	.cuadro1{
		height:400px;
		margin-top:-58%;
	}
	.cuadro2{
		height:400px;
		margin-top:1%;
	}
	.interesesprin{
	padding-bottom:160px;
	}
}

@media (max-width:1200px){
	.titulosobre{
		margin-top:-200px;
	}
	.titulosobre h1 {
	    font-size: 55px;
	}
	.quotesobre{
		width:35%;
	}
	.quotesobre p {
		font-size: 20px;
		padding-top:120;
		padding-bottom:100px;
	}
	.header2{
		height:550px;
	}
	.header3{
		height:550px;
	}
	.header4{
		height:550px;
	}
	.header5{
		height:550px;
	}
	.header6{
		height:550px;
	}
	.portadasobre{
		height:50%;
	}
	.experienciaprin{
		margin-top:550px;
	}
	.experienciatxt h3{
		margin-top:70px;
		font-size:38px;
	}
	.experienciatxt p{
		line-height:27px;
		margin-top:45px;
	}
	.bioback h3{
		font-size:38px;
	}
	.video{
		width:45%;
	}
	.titulointereses h3{
		font-size:38px;
	}
	.cuadro1{
		width:50%;
		height:360px;
		margin-top:-60%;
	}
	.cuadro2{
		width:50%;
		height:360px;
		margin-top:-1%;
	}
	.interesesprin{
	padding-bottom:50px;
	}
	.titulointereses{
		margin-top:40px;
	}
}

@media(max-width:990px){
	.header2{
		height:500px;
	}
	.header3{
		height:500px;
	}
	.header4{
		height:500px;
	}
	.header5{
		height:500px;
	}
	.header6{
		height:500px;
	}
	.portadasobre{
		margin-top:170px;
	}
	.titulosobre{
		margin-top:-180px;
	}
	.titulosobre h1{
		font-size:52px;
	}
	.quotesobre{
		width:40%;
	}
	.quotesobre p {
	    font-size: 18px;
    	padding-bottom: 50px;
		padding-top:110px;
	}
	.experienciaprin{
		margin-top:500px;
	}
	.experienciatxt h3 {
		margin-top: 60px;
		font-size: 36px;
		margin-left:18%;
	}
	.experienciatxt p {
		line-height: 23px;
		margin-top: 35px;
		font-size: 13.5px;
		margin-right:10%;
		margin-left:17%;
	}
	.exp2 p {
		line-height: 23px;
		font-size: 13.5px;
		margin-right:17%;
		margin-left:9%;
		padding-top:20px;
	}
	.bioback h3{
		font-size:36px;
	}
	.biografiatxt p {
		line-height: 23px;
		font-size: 13.5px;
		margin-right:10%;
		margin-left:10%;
	}
	.bioback{
		margin-top:-970px;
		height:1050px;
	}
	.testimoniosprin{
		padding-bottom:30px;
	}
	.titulotestimonios h3{
		font-size:36px;
		padding-top:50px;
	}
	.testimonios{
		margin-top:40px;
	}
	.testimonios p{
		font-size:15px;
	}
	.testimonios h3 {
		font-size: 16px;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.video {
		width: 50%;
		padding-top:80px;
	}
	.titulointereses {
		margin-top: 10px;
	}
	.titulointereses h3{
		font-size:36px;
		padding-top:50px;
	}
	.titulointereses p {
		font-size: 15px;
		line-height: 22px;
	}
	.cuadro1 {
		width: 45%;
		height: 300px;
		margin-top: -60%;
	}
	.cuadro2 {
		width: 45%;
		height: 300px;
		margin-top: -1%;
	}	
}

@media(max-width:950px){
	.biografiaprin{
		margin-top:220px;
	}
	.bioback{
		margin-top:-1040px;
	}.titulointereses {
		margin-top: 7px;
	}
	
}

@media(max-width:860px){
	.header2 {
		height: 470px;
	}
	.header3 {
		height: 470px;
	}
	.header4 {
		height: 470px;
	}
	.header5{
		height:500px;
	}
	.header6{
		height:500px;
	}
	.portadasobre{
		height:40%;
	}
	.titulosobre{
		margin-top:-155px;
		width:280px;
		height:75px;
	}
	.titulosobre h1{
		font-size:50px;
	}
	.quotesobre p{
		font-size:16px;
		padding-top:130px;
		padding-bottom:70px;
	}
	.experienciaprin {
		margin-top: 470px;
	}
	.experienciatxt h3{
		font-size:34px;
	}
	.experienciatxt p {
		line-height: 22px;
		margin-top: 26px;
		font-size: 13px;
	}
	.exp2 p {
		line-height: 22px;
		margin-top: 26px;
		font-size: 13px;
		margin-top:0px;
	}
	.bioback h3 {
		font-size: 34px;
	}
	.biografiaprin{
		margin-top:250px;
	}
	.titulotestimonios h3 {
		font-size: 34px;
	}
	.testimonios p {
		font-size: 14px;
		margin-top:36px;
	}
	.testimonios h3 {
		font-size: 14px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.prev, .next {
		font-size: 40px;
	}
	.dot{
		width:13px;
		height:13px;
	}
	.interesesprin{
		padding-bottom:70px;
	}
	.titulointereses {
		margin-top: 0px;
	}
	.titulointereses h3{
		font-size:34px;
		padding-top:10px;
	}
	.titulointereses p{
		font-size:14px;
	}
	.cuadro1{
		margin-top:-64%;
	}
	.interesesprin{
	padding-bottom:30px;
	}
	.bioback{
		height:1150px;
	}
	
}
@media(max-width:840px){
	.bioback{
		margin-top:-1100px;
	}
	.biografiaprin{
		margin-top:200px;
	}
}
@media(max-width:801px){
	.bioback{
		margin-top:-1150px;
	}
	.biografiaprin {
		padding-bottom:110px;
	}
}
@media(max-width:794px){
	.bioback{
		margin-top:-1180px;
	}
	.biografiaprin{
		margin-top:230px;
	}
}
@media(max-width:780px){
	.header2{
		height:450px;
	}
	.header3{
		height:450px;
	}
	.header4{
		height:450px;
	}
	.header5{
		height:450px;
	}
	.header6{
		height:450px;
	}
	.portadasobre{
		height:38%;
	}
	.titulosobre{
		margin-top:-130px;
	}
	.titulosobre h1{
		font-size:46px;
	}
	.quotesobre{
		width:40%;
	}
	.quotesobre p{
		font-size:15px;
		padding-bottom:67px;
	}
	.experienciaprin{
		margin-top:450px;
	}
	.experienciatxt h3{
		font-size:30px;
		margin-top:45px;
	}
	.experienciatxt p {
		line-height: 20px;
		margin-top: 18px;
		font-size: 12.5px;
	}
	.exp2 p {
		line-height: 20px;
		font-size: 12.5px;
	}
	.biografiaimg img{
		margin-top:30px;
	}
	.biografiatxt p{
		padding-top:8%;
		line-height:21px;
		font-size:13px;
	}
	.bioback{
		margin-top:-1100px;
	}
	.bioback h3{
		font-size:30px;
		padding-top:40px;
	}
	.titulotestimonios h3{
		font-size:30px;
	}
	.testimonios p{
		font-size:13px;
		line-height:18px;
	}
	.dot2{
		width:13px;
		height:13px;
	}
	.titulointereses{
		margin-top:0px;
	}
	.titulointereses h3 {
		font-size: 30px;
	}
	.titulointereses p {
		font-size: 13px;
		line-height:21px;
	}
	.cuadro1 {
		height: 250px;
	}
	.cuadro2 {
		height: 250px;
		margin-top: 3%;
	}
	.biografiaprin{
		margin-top:180px;
	}
}

@media(max-width:721px){
	.biografiaprin{
		margin-top:150px;
		padding-bottom:70px;
	}
	.bioback{
		margin-top:-1140px;
		height:1180px;
	}
}

@media(max-width:700px){
	.header2{
		height:400px;
	}
	.header3{
		height:400px;
	}
	.header4{
		height:400px;
	}
	.header5{
		height:400px;
	}
	.header6{
		height:400px;
	}
	.portadasobre{
		width:65%;
		height:36%;
	}
	.titulosobre{
		margin-top:-115px;
		width:250px;
		height:65px;
	}
	.titulosobre h1{
		font-size:42px;
	}
	.quotesobre{
		margin-top:-70px;
	}
	.quotesobre p{
		font-size:13.5px;
		padding-bottom:50px;
		padding-top:90px;
	}
	.experienciaprin{
		margin-top:355px;
		display:inline-block;
	}
	.experienciatxt{
		width:100%;
	}
	.experienciatxt h3{
		padding-top:45px;
		font-size:28px;
	}
	.experienciaimg{
		width:100%;
	}
	.experienciaimg img {
		width: 45%;
		margin: 15px 26.5%;
	    border: 3px solid #AD9DB7;
		border-radius: 10px;
		padding: 2px;
	}
	
	.exp2 p{
		margin-left:18%;
		margin-right:10%;
	}
	.biografiaprin{
		margin-top:180px;
	}
	.biografiasec{
		display:block;
	}
	.biografiaimg {
		width: 65%;
		margin-left: 17.5%;
	}
	.biografiatxt {
		width: 100%;
	}
	.bioback{
		margin-top:-1330px;
		height:1400px;
	}
	.bioback h3{
		font-size:28px;
	}
	.titulotestimonios h3{
		font-size:28px;
		padding-top:40px;
	}
	.video {
    	width: 60%;
	}
	.titulointereses h3 {
		font-size: 28px;
	}
	.titulointereses p {
		font-size: 12px;
		line-height: 18px;
	}
	.interesessec{
		width:100%;
		display:contents;
		height:auto;
	}
	.interesesimg{
		width:100%;
		margin-top:20px;
	}
	.interesesimg img{
		width: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		height:auto;
	}
	.interesesprin {
		padding-bottom: 70px;
		height:auto;
		margin-top:60px;
		height:2200px;
	}
	.interesessec:after{
		clear:both;
		display:table;
		content:"";
	}
	.cuadro1 {
		margin-top: 0;
		position: relative;
		z-index: -1;
		top: -2220px;
		height:1000px;
	}
	.cuadro2 {
		margin-top: 0;
		position: relative;
		z-index: -1;
		top: -1950px;
		height:1000px;
	}
}

@media(max-width:657px){
	.interesesprin{
		height:2050px;
	}
	.quotesobre {
		width:40%;
		margin-top: -85px;
	}
	.cuadro1 {
		margin-top: 0;
		position: relative;
		z-index: -1;
		top: -2020px;
		height:800px;
	}
	.cuadro2 {
		margin-top: 0;
		position: relative;
		z-index: -1;
		top: -1750px;
		height:800px;
	}
	.bioback{
		margin-top:-1285px;
	}
}

@media(max-width:610px){
	.interesesprin{
		height:1950px;
	}
	.cuadro1 {
		margin-top: 0;
		position: relative;
		z-index: -1;
		top: -1950px;
		height:1000px;
	}
	.cuadro2 {
		margin-top: 0;
		position: relative;
		z-index: -1;
		top: -1950px;
		height:1000px;
	}
}

@media(max-width:590px){
	.interesesprin{
		height:1900px;
	}
}
@media(max-width:580px){
	.titulosobre {
		margin-top: -110px;
		width: 200px;
		height: 55px;
	}
	.titulosobre h1 {
		font-size: 40px;
	}
	.interesesprin{
		height:1800px;
	}
	.quotesobre p {
		font-size: 12px;
		padding-bottom: 30px;
		padding-top: 95px;
	}
	.cuadro1 {
		margin-top: 0;
		position: relative;
		z-index: -1;
		top: -1720px;
		height:800px;
	}
	.cuadro2 {
		margin-top: 0;
		position: relative;
		z-index: -1;
		top: -1720px;
		height:800px;
	}
}

@media(max-width:550px){
	.interesesprin{
		height:1720px;
	}
	.bioback{
		height:1350px;
	}
}
@media(max-width:530px){
	.titulosobre h1 {
		font-size: 38px;
	}
	.quotesobre p {
		font-size: 11.5px;
		padding-bottom: 20px;
	}
	.video {
		width: 65%;
	}
	.interesesprin{
		height:1650px;
	}
}

@media(max-width:500px){
	.interesesprin{
		height:1550px;
	}
	.biografiaprin{
		margin-top:180px;
	}
	.bioback{
		margin-top:-1320px;
	}
}
@media(max-width:485px){
	.titulosobre h1 {
		font-size: 36px;
	}
	.titulosobre {
		margin-top: -100px;
		width: 180px;
		height: 50px;
	}
	.quotesobre p {
		font-size: 11.5px;
		padding-bottom: 20px;
	}
	.quotesobre {
    	width: 45%;
	}
	.experienciatxt h3 {
		padding-top: 42px;
		font-size: 24px;
	}
	.experienciatxt p {
		line-height: 16px;
		margin-top: 15px;
		font-size: 11.5px;
	}
	.experienciaimg img {
		width: 40%;
		margin: 15px 28.9%;
		padding: 4px;
	}
	.exp2 p {
		line-height: 16px;
		font-size: 11.5px;
	}
	.biografiaprin {
		margin-top: 150px;
	}
	.biografiatxt p {
		padding-top: 5%;
		line-height: 18px;
		font-size: 12px;
	}
	.bioback {
		margin-top: -1100px;
		height: 1150px;
	}
	.bioback h3 {
		font-size: 24px;
	}
	.titulotestimonios h3 {
		font-size: 24px;
		padding-top: 30px;
	}
	.testimoniosprin {
		padding-bottom: 20px;
	}
	.testimonios {
		margin-top: 20px;
	}
	.testimonios p {
		font-size: 12px;
		line-height: 16px;
		margin-top:30px;
	}
	.testimonios h3 {
		font-size: 13px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.prev, .next {
		font-size: 34px;
		top:40%;
	}
	.dot {
		width: 12px;
		height: 12px;
		margin-top:5px;
	}
	.prev2, .next2 {
		font-size: 34px;
		top:40%;
	}
	.dot2 {
		width: 12px;
		height: 12px;
		margin-top:5px;
	}
	.videosprin {
		height: 320px;
	}
	.video {
		width: 70%;
	}
	.titulointereses {
		margin-top: 10px;
	}
	.titulointereses h3 {
		font-size: 24px;
	}
	.titulointereses p {
		font-size: 11.5px;
		line-height: 16px;
		margin-top:20px;
	}
	.interesesprin {
		padding-bottom: 20px;
		margin-top: 40px;
	}
	.cuadro1{
		top: -1500px;
		height: 700px;
	}
	.cuadro2{
		top: -1500px;
		height: 700px;
	}
}

@media(max-width:454px){
	.bioback{
		margin-top:-1150px;
	}
}

@media(max-width:450px){
	.titulosobre h1 {
		font-size: 34px;
	}
	.titulosobre {
		margin-top: -100px;
		width: 180px;
		height: 48px;
	}
	.quotesobre p {
		font-size: 11px;
		padding-bottom: 30px;
	}
	.quotesobre {
    	width: 45%;
	}
	.interesesprin{
		height:1450px;
	}
}
@media(max-width:450px){
	.interesesprin{
		height:1375px;
	}
	.bioback{
		margin-top:-1150px;
	}
	.interesesprin {
		padding-bottom:95px;
		margin-top: 40px;
	}
}
@media(max-width:418px){
	.titulosobre h1 {
		font-size: 32px;
	}
	.titulosobre {
		margin-top: -100px;
		width: 180px;
		height: 45px;
	}
	.quotesobre p {
		font-size: 11px;
		padding-bottom: 30px;
	}
	.quotesobre {
    	width: 45%;
	}
	.interesesprin{
		height:1350px;
	}
	.bioback{
		margin-top:-1180px;
	}
}

@media(max-width:403px){
	.portadasobre{
		width:70%;
	}
	.titulosobre h1 {
		font-size: 30px;
	}
	.titulosobre {
		margin-top: -100px;
		width: 160px;
		height: 42px;
	}
	.quotesobre p {
		font-size: 11px;
		padding-bottom: 30px;
	}
	.quotesobre {
    	width: 45%;
	}
	.interesesprin{
		height:1350px;
		padding-bottom:30px;
	}
}
@media(max-width:383px){
	.bioback{
		margin-top:-1200px;
	}
}
@media(max-width:375px){
	.portadasobre{
		width:80%;
	}
	.titulosobre h1 {
		font-size: 28px;
	}
	.titulosobre {
		margin-top: -95px;
		width: 160px;
		height: 40px;
	}
	.quotesobre p {
		font-size: 11px;
		padding-bottom: 10px;
	}
	.quotesobre {
    	width: 45%;
	}
	.interesesprin{
		height:1220px;
	}
	.bioback{
		margin-top:-1200px;
	}
	.cuadro1 {
		top: -1100px;
		height: 500px;
	}
	.cuadro2 {
		top: -1100px;
		height: 500px;
	}
	.titulointereses h3{
		padding-top:2px;
	}
}
@media(max-width:367px){
	.titulosobre {
   		margin-top: -115px;
	}
	.quotesobre p {
		padding-top: 65px;
	}
	.quotesobre {
    	margin-top:-55px;
	}
}
@media(max-width:362px){
	.bioback{
		margin-top:-1240px;
	}
}
@media(max-width:350px){
	.interesesprin{
		height:1155px;
	}
}
@media(max-width:345px){
	.titulosobre {
   		margin-top: -115px;
	}
	.quotesobre p {
		padding-top: 55px;
		padding-bottom:22px;
	}
}
@media(max-width:337px){
	.bioback{
		margin-top:-1270px;
	}
	.biografiaprin {
		padding-bottom:150px;
	}
}

@media (max-width:320px){
.interesesprin{
		padding-bottom:0px;
	}
}

@media (max-width:315px){
	.bioback{
		margin-top:-1290px;
	}
}

/*DesarrollArte*/
@media(max-width:1800px){
	.progcita4{
		height:90px;
	}
	.progcita4 h2{
		font-size:36px !important;
	}
	.progcita3 p{
		padding-top:110px;
	}
	.panel-body p span{
	font-size:1.6vw;
	}
	.panel-body {
 	padding: 25px 18px;
  	font-size:1.4vw;
	}
	.accordion {
  	padding: 18px;
  	font-size:1.8vw; 
	}
	.botoninfodesarrollo{
	width:35%;
	}
	.botoninfodesarrollo{
	width:50%;
	}
}

@media (max-width:1350px){
	.titdesarrollo h2{
	font-family:'coneria';
	font-size:3.5vw;
	}
	.fondodesarrollarte{
	width:50%;
	height:80px;
	}
	.accordion {
  	padding: 15px;
	height:100px;
	}
	.botoninfodesarrollo{
	width:50%;
	}
}

@media(max-width:1330px){
	.progcita4{
		height:80px;
	}
	.progcita4 h2{
		font-size:30px !important;
	}
	.progcita3 p{
		padding-top:115px;
		font-size:22px;
	}
	.programasdesarrollo h2{
	font-size:30px;
	}
	.programasdesarrollo h3{
	font-size:25px;
	}
}

@media(max-width:1200px){
	.programasdesarrollo h2{
		font-size:40px;
	}
	.programasdesarrollo p{
		font-size:32px;
	}
	.programasdesarrollo h2{
	font-size:28px;
	}
	.programasdesarrollo h3{
	font-size:23px;
	}
	.programasdesarrollo{
	width:50%;
	margin-bottom:120px;
	}
	.titdesarrollo h2{
	font-family:'coneria';
	font-size:3.5vw;
	}
	.fondodesarrollarte{
	width:50%;
	height:80px;
	left:6%;
	}
	.botoninfodesarrollo{
	width:45%;
	}
	.imgdesarrolloizq img{
	width:50%;
	}
	.imgdesarrolloder img{
	width:50%;
	}
	.panel-body p span{
	font-size:2.0vw;
	}
	.panel-body {
 	padding: 25px 18px;
  	width:100%;
  	font-size:1.7vw;
	}
	.accordion {
  	padding: 18px;
  	width: 100%;
  	height:95px;
  	font-size:2vw; 
	}
}

@media (max-width:1120px){
	.panel-body p span{
	font-size:2.0vw;
	}
	.panel-body {
 	padding: 25px 18px;
  	width:100%;
  	font-size:2.0vw;
	}
	.accordion {
  	padding: 18px;
  	width: 100%;
  	height:95px;
  	font-size:2vw; 
	}
	.botoninfodesarrollo{
	width:45%;
	}
}

@media (max-width:1076px){
	.progcita4{
		height:75px;
		width:25%;
		margin-left:55%;
	}
	.progcita4 h2{
		font-size:27px !important;
	}
	.progcita3 p{
		padding-top:110px;
		font-size:22px;
	}
}

@media(max-width:990px){
	.programasdesarrollo h2{
	font-size:28px;
	}
	.programasdesarrollo h3{
	font-size:23px;
	}
	.programasdesarrollo{
	width:55%;
	margin-top:600px;
	margin-bottom:80px;	
	}
	.progcita3 p{
		font-size:22px;
		padding-top:75px;
	}
	.progcita4{
		width:25%;
		margin-top:-240px;
	}
	.progcita4 h2{
		font-size:26px !important;
		padding:20px 5px;
	}
	.panel-body p span{
	font-size:2.0vw;
	}
	.panel-body {
 	padding: 25px 18px;
  	width:100%;
  	font-size:2.0vw;
	}
	.accordion {
  	padding: 18px;
  	width: 100%;
  	height:95px;
  	font-size:2.3vw; 
	}
	.botoninfodesarrollo{
	width:52%;
	}
	.imgdesarrolloizq img{
	width:60%;
	}
	.imgdesarrolloder img{
	width:60%;
	}
	.titdesarrollo h2{
	font-size:4.8vw;
	width:65%;
	}
	.fondodesarrollarte{
	width:65%;
	}
}
@media(max-width:860px){
	.programasdesarrollo h2{
	font-size:28px;
	}
	.programasdesarrollo h3{
	font-size:23px;
	}
	.programasdesarrollo{
	width:60%;
	margin-top:550px;
	}
	.progcita2{
		height:550px;
	}
	.progcita3{
		height:350px;
		margin-top:-560px;
	}
	.progcita3 p{
		font-size:2.4vw;
	    padding-top: 60px;
	    padding-bottom: 90px;
	}
	.progcita4{
		width:25%;
		margin-left:57%;
		height:75px;
		margin-top:-210px;
	}
	.progcita4 h2{
		font-size:2.8vw !important;
	    padding: 20px 5px;
	}
	.blanco{
		height:300px;
	}
	.accordion {
  	padding: 18px;
  	width: 100%;
  	height:95px;
  	font-size:2.6vw; 
	}
	.botoninfodesarrollo{
	width:55%;
	}
	.imgdesarrolloizq img{
	width:60%;
	}
	.imgdesarrolloder img{
	width:60%;
	}
	.titdesarrollo h2{
	font-size:5.2vw;
	width:75%;
	}
	.fondodesarrollarte{
	width:75%;
	}
}

@media(max-width:720px){
	.progcita3 p{
		font-size:2.7vw;
	    padding-top: 55px;
	    padding-bottom: 90px;
	}
	.progcita4{
		height:70px;
		margin-top:-230px;
	}
	.progcita4 h2{
	color:#dad1e0;
	text-align:center;
	font-family:'amaranth';
	font-size:45px;
	padding:23px 0px;
	}
	.programasdesarrollo h2{
	font-size:26px;
	}
	.programasdesarrollo h3{
	font-size:21px;
	}
	.programasdesarrollo{
	width:70%;
	}
	.accordion {
  	padding: 18px;
  	width: 100%;
  	height:90px;
  	font-size:2.8vw; 
	}
	.botoninfodesarrollo{
	width:55%;
	top:-30px;
	}
	.imgdesarrolloizq img{
	width:75%;
	display:block;
	margin:auto;
	}
	.imgdesarrolloder img{
	width:75%;
	display:block;
	margin:auto;
	}
	.titdesarrollo h2{
	font-size:5.2vw;
	width:75%;
	}
	.fondodesarrollarte{
	width:75%;
	height:55px;
	}
	.panel-body p span{
	font-size:2.3vw;
	}
	.panel-body {
 	padding: 25px 18px;
  	width:100%;
  	font-size:2.2vw;
	}
}

@media (max-width:700px){
	.programasdesarrollo{
	margin-top:500px;
	margin-bottom:70px;
	}
}

@media(max-width:650px){
	.progcita2{
		height:450px;
	}
	.progcita3{
		height:300px;
		margin-top:-495px;
	}
	.progcita3 p{
		font-size:2.5vw;
	    padding-top: 45px;
	    padding-bottom: 90px;
	}
	.progcita4{
		height:80px;
		width:24%;
		margin-top:-210px;
	}
	.progcita4 h2{
		font-size:3.2vw !important;
	    padding: 28px 5px;
	}
	.blanco{
		height:200px;
	}
	.accordion {
  	padding: 18px;
  	width: 100%;
  	height:95px;
  	font-size:3.2vw; 
	}
	.botoninfodesarrollo{
	width:75%;
	top:-20px;
	}
	.imgdesarrolloizq img{
	width:85%;
	}
	.imgdesarrolloder img{
	width:85%;
	}
	.titdesarrollo h2{
	font-size:5.2vw;
	width:75%;
	}
	.fondodesarrollarte{
	width:75%;
	height:55px;
	}
	.panel-body p span{
	font-size:2.7vw;
	}
	.panel-body {
 	padding: 25px 18px;
  	width:100%;
  	font-size:2.5vw;
	}
}

@media (max-width:634px){
	.programasdesarrollo h2{
	font-size:24px;
	}
	.progcita3 p{
	font-size:2.8vw;
	padding-top: 45px;
	padding-bottom: 90px;
	}
}

@media (max-width:607px){
	.progcita4{
	height:80px;
	width:25%;
	margin-top:-210px;
	}
}


@media (max-width:600px){
	.panel-body p span{
	font-size:3.6vw;
	}
	.panel-body {
 	padding: 25px 18px;
  	width:100%;
  	font-size:2.8vw;
	}
	.accordion {
  	padding: 18px;
  	width: 100%;
  	height:90px;
  	font-size:3.2vw; 
	}
	.programasdesarrollo{
	width:80%;
	}
	.programasdesarrollo h2{
	font-size:22px;
	}
	.programasdesarrollo h3{
	padding-top:15px;
	font-size:20px;
	width:100%;
	margin-left:0%;
	
	}
}

@media(max-width:550px){
	.programasdesarrollo h2{
	font-size:4vw;
	}
	.programasdesarrollo h3{
	font-size:3.2vw;
	padding-top:20px;
	padding-bottom:40px;
	}
	.programasdesarrollo{
	margin-top:450px;
	}
	.desarrolloprin{
		margin-bottom:60px;
	}
	.progcita2{
		width:100%;
		height:350px;
	}
	.progcita3{
		height:200px;
		margin-top:-400px;
	}
	.progcita3 p{
		font-size:2.8vw;
	    padding-top: 20px;
	    padding-bottom: 43px;
		width:80%;
	}
	.progcita4{
		height: 50px;
    	width: 40%;
	    margin-top: -85px;
		margin-left:30%;
	}
	.progcita4 h2{
		font-size:3.2vw !important;
        padding: 15px 5px;
	}
	.blanco{
		height:120px;
	}
	.panel-body p span{
	font-size:3.5vw;
	}
	.panel-body {
 	padding: 25px 18px;
  	font-size:3vw;
	}
	.accordion {
  	padding: 18px;
  	height:90px;
  	font-size:3.5vw; 
	}
	.imgdesarrolloizq img{
	width:95%;
	}
	.imgdesarrolloder img{
	width:95%;
	}
	.botoninfodesarrollo{
	width:90%;
	top:-20px;
	}
}

@media(max-width:500px){
	.progcita2{
		width:100%;
		height:300px;
	}
	.progcita3{
		margin-top:-370px;
	}
	.blanco{
		height:110px;
	}
}
@media(max-width:485px){
	.fondotitulodes{
	height:50px;
	}
	.titulosdesarrollo h2{
	padding-bottom: inherit;
	}
	.titdesarrollo h2{
	font-size:6.2vw;
	width:90%;
	}
	.fondodesarrollarte{
	width:90%;
	left:5%;
	}
	.accordion {
  	padding: 15px;
  	height:75px;
  	font-size:3.5vw; 
	}
}
@media(max-width:450px){
	.programasdesarrollo{
		margin-top:450px;
		margin-bottom:50px
	}
	.programasdesarrollo h2{
		font-size:4.5vw;
		padding-top:30px;
		width: 100%;
		margin-left: 0%;
	}
	.programasdesarrollo h3{
	font-size:4.0vw;
	padding-top:15px;
	padding-bottom:20px;
	}
	.programasdesarrollo p{
		font-size:3.9vw;
		width: 155%;
		margin-left:-30%;
	}
	.progcita3 p{
		font-size:3.0vw;
	    padding-top: 15px;
	    padding-bottom: 43px;
		width:80%;
	}
	.progcita4{
		height: 50px;
    	width: 40%;
	    margin-top: -85px;
		margin-left:30%;
	}
	.progcita4 h2{
		font-size:3.8vw !important;
        padding: 15px 5px;
	}
	.blanco{
		height:100px;
	}
	.titdesarrollo h2{
	width:90%;
	left:10px;
	}
	.fondodesarrollarte{
	width:90%;
	left:10px;
	}
	.accordion {
  	padding: 15px;
  	height:75px;
  	font-size:3.5vw; 
	}
}

@media (max-width:380px){
	.panel-body p span{
	font-size:4.1vw;
	}
	.panel-body {
 	padding: 25px 18px;
  	font-size:3.8vw;
	}
	.accordion {
  	padding: 8px;
  	height:60px;
  	font-size:4.0vw; 
	}
}

@media(max-width:350px){
	.programasdesarrollo{
		margin-top:450px;
		margin-bottom:40px
	}
	.programasdesarrollo h2{
		font-size:5.0vw;
		padding-top:40px;
		width: 140%;
		margin-left: -20%;
	}
	.programasdesarrollo h3{
		font-size:3.8vw;
		padding-top:15px;
		padding-bottom:20px;
	}
	.programasdesarrollo p{
		font-size:4.5vw;
		width: 155%;
		margin-left:-31%;
	}
	.progcita3 p{
		font-size:3.7vw;
	    padding-top: 10px;
	    padding-bottom: 43px;
		width:80%;
	}
	.progcita4{
	height: 50px;
    width: 40%;
	margin-top: -75px;
	margin-left:30%;
	}
	.progcita4 h2{
		font-size:4.2vw !important;
        padding: 15px 5px;
	}
}
/*Blog y Contacto en relación con el header*/
@media(max-width:1200px){
	.blog{
		margin-top:550px;
		height:1200px;
	}
	.contactoprin{
		margin-top:550px;
	}
}

@media(max-width:990px){
	.blog{
		margin-top:500px;
		height:1000px;
	}
	.contactoprin{
		margin-top:500px;
	}
}
@media(max-width:780px){
	.blog{
		margin-top:450px;
	}
	.contactoprin{
		margin-top:450px;
	}
}

@media (max-width:730px){
	.label {
	width:200px;
	}
}

@media(max-width:700px){
	.blog{
		margin-top:400px;
	}
	.contactoprin{
		margin-top:400px;
	}
}

@media (max-width:689px){
	.label {
	width:180px;
	}
}

@media (max-width:567px){
	.label {
	width:160px;
	}
}

