@charset "utf-8";
/* CSS Document */

/*Contacto*/

@media (max-width:1660px){
	.contactosec img{
	width:80%;
	margin-left:50%;
	}
}

@media (max-width:1430px){
	.contactosec img{
	width:80%;
	margin-left:42%;
	height:550px;
	margin-top:135px;
	}
}

@media (max-width:1330px){
	.contactosec img{
	height:500px;
	margin-top:150px;
	}
}

@media (max-width:1200px){
	.contactosec img{
	height:420px;
	margin-top:200px;
	margin-left:35%;
	}
	.form{
	width:400px;
	margin-top:180px;
	}
	.label {
	font-size:20px;
	margin-top:10px;
	}
	.submit{
	font-size:20px;
	}
}

@media (max-width:1100px){
	.contactosec img{
	height:420px;
	margin-top:180px;
	margin-left:40%;
	}
	.form{
	width:380px;
	margin-top:180px;
	}
	.label {
	font-size:18px;
	margin-top:10px;
	}
	.submit{
	font-size:18px;
	}
}

@media (max-width:1030px){
	.contactosec img{
	width:85%;
	height:400px;
	margin-top:200px;
	margin-left:40%;
	}
}

@media (max-width:900px){
	.contactosec img{
	width:40%;
	height:380px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	}
	.contactoprin{
	width:100%;
	display:block;
	z-index:-4;
	position:relative;
	}
	.contactosec{
	width:100%;
	height:350px;
	padding-top:1%;
	}
	.contactoter{
	width:100%;
	}
	.form{
	width:380px;
	margin-top:130px;
	margin-bottom:80px;
	}
}

@media (max-width:730px){
	.contactosec img{
	width:42%;
	height:350px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	}
	.contactoprin{
	width:100%;
	display:block;
	z-index:-4;
	position:relative;
	}
	.contactosec{
	height:320px;
	}
	.form{
	width:50%;
	margin-top:130px;
	margin-bottom:80px;
	}
}

@media (max-width:650px){
	.contactosec img{
	width:50%;
	height:390px;
	}
	.contactoprin{
	width:100%;
	display:block;
	z-index:-4;
	position:relative;
	}
	.contactosec{
	width:100%;
	background-color:#a29ba0;
	height:320px;
	}
	.form{
	width:60%;
	margin-top:130px;
	margin-bottom:80px;
	}
	.input{
	margin-left:32px;
	}	
	.label {
	margin-left:32px;
	font-size:16px;
	}
	.mensaje{
	margin-left:32px;
	}
	.submit{
	margin-left:35%;
	}
}

@media (max-width:580px){
	.contactosec img{
	width:55%;
	height:390px;
	}
}

@media (max-width:510px){
	.contactosec img{
	width:58%;
	height:360px;
	}
	.form{
	width:65%;
	margin-top:130px;
	margin-bottom:80px;
	}
	.input{
	margin-left:30px;
	}	
	.label {
	margin-left:30px;
	}
	.mensaje{
	margin-left:30px;
	width:78%;
	}
	.submit{
	margin-left:33%;
	}
}

@media (max-width:450px){
	.contactosec img{
	width:58%;
	height:330px;
	}
	.form{
	width:75%;
	margin-top:100px;
	}
}

@media (max-width:400px){
	.contactosec img{
	width:65%;
	height:350px;
	}
	.form{
	width:85%;
	margin-top:100px;
	}
	.submit{
	margin-left:35%;
	}
}

@media (max-width:380px){
	.contactosec img{
	width:70%;
	}
	.form{
	width:95%;
	margin-top:100px;
	}
	.submit{
	margin-left:35%;
	}
	.label{
	margin-right:0px;
	}
	.input2{
		margin-left:15%;
	}
	.mensaje{
	margin-right:0px;
	}
}

@media (max-width:310px){
	.contactosec img{
	height:320px;
	}
	.form{
	margin-top:50px;
	}
	.submit{
	margin-left:32%;
	}
	.input{
	margin-left:27px;
	}	
	.label {
	margin-left:27px;
	}
	.mensaje{
	margin-left:27px;
	}
}

/*TransformArte*/
@media (max-width:2000px){
	.divcoachingsec{
		height:800px;
	}	
}
@media(min-width:1750px){
	.fondoservimg {
		width: 85%;
		height: 500px;
		top: -420px;
		left: 95px;
	}
}
@media (max-width:1750px){
	.mainquotetrans h3{
	margin-top:650px;
	font-size:27px;
	}
	.quotetrans2 h3{
	font-size:30px;
	margin-top:50px;
	}
	.divcoachingsec{
		height:900px;
	}
}
@media (max-width:1666px){
	.divcoachingsec p{
	margin-left:12%;
	margin-right:18%;
	}
	.divcoachingsec{
		height:800px;
	}
}


@media (max-width:1428px){
	.divcoachingsec img{
	width:80%;
	margin-top:80px;
	margin-left:10%;
	}

}


@media (max-width:1351px){
	.divcoachingsec h2{
	font-size:24px;
	margin-top:20px;
	}
	.divcoachingsec p{
	font-size:18px;
	margin-left:10%;
	margin-right:10%;
	margin-top:30px;
	padding-bottom:20px;
	}
	.divcoachingsec p span{
	font-size:23px;
	margin-left:5%;
	margin-top:8px;
	}
	.divcoachingsec{
		height:700px;
	}
	.citas{
	width:220px;
	font-size:23px;
	}
	.citas2{
	width:220px;
	font-size:23px;
	}
	.citas3{
	width:220px;
	font-size:23px;
	}
	.citas4{
	width:220px;
	font-size:23px;
	margin-left:22%;
	}
	.citasdesarrollo{
	width:220px;
	font-size:23px;
	}
}

@media (max-width:1230px){
	.fondoimgder{
		width: 75%;
		left: 22%;
	}
}

@media (max-width:1205px){
	.divcoachingsec p{
	font-size:15px;;
	margin-left:5%;
	margin-right:8%;
	margin-top:10px;
	padding-bottom:10px;
	}
	.divcoachingsec p span{
	font-size:20px;
	margin-left:5%;
	margin-top:3px;
	}
	.divcoachingsec h2{
	font-size:20px;
	margin-top:40px;
	}
}

@media (max-width:1200px){
	.mainquotetrans h3{
	margin-top:600px;
	font-size:25px;
	}
	.quotetrans2 h3{
	font-size:25px;
	margin-top:50px;
	}
	.citas4{
	width:210px;
	font-size:21px;
	margin-left:20%;
	}
}

@media(max-width:1100px){
	.divcoachingsec{
		height:670px;
	}
	.fondoservimg{
		height:50%;
		top:-210px;
	}
}

@media(max-width:1009px){
	.programacion{
		font-size:18px;
		width:190px;
		padding:5px 0px;
	}
}

@media (max-width:990px){
	.mainquotetrans h3{
	margin-top:550px;
	font-size:25px;
	}
	.quotetrans2 h3{
	font-size:25px;
	margin-top:50px !important;
	}
	.fondoimgder{
		height:300px;
		top:-38%;
		left: 20%;
	}
}

@media (max-width:984px){
	.divcoachingsec{
		height:650px;
	}
	.divcoachingsec h2{
		margin-top: 25px;
	    margin-bottom: 25px;
	}
	.divcoachingsec p{
	line-height:30px;
	}
	.divcoachingsec p span{
	font-size:21px;
	}
}

@media (max-width:970px){	
	.botonestranssec{
	margin-top:60px;
	}
	.botonestranssec p{
	font-size:27px;
	width:280px;
	}
	.boton1{
	padding-top:27px;
	padding-bottom:27px;
	}
	.boton2{
	padding-top:12px;
	padding-bottom:12px;
	}
	.botonestranssec img{
	width:280px;
	}
	.divservicesec p {
		font-size:1.5vw;
	}
	#life-coaching-lnk{
		padding:3.2vw;
	}
	#wellness-health-lnk{
		padding:3.2vw;
	}
	#sport-coaching-lnk{
		padding:3.2vw;
	}
	
}

@media(max-width:894px){
	.fondoimgder{
		width:60%;
		height: 350px;
		top: -310px;
		left: 26%;
	}
	.divcoaching{
	width:100%;
	display:block;
	}
	.divcoachingsec{
	width:100%;
	}
	.divserviceimg{
		width:100%;
		height:400px;
	}
	.coachgral{
		margin-top:-220px;
	}
	.fondoservimg{
		height:70%;
		width:50%;
		top:-225px;
		left:260px;
	}
	.divserviceimg img {
    width: 400px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
	}
	.divservicesec{
		width:100%;
	}
	.fondotitulo{
		width:50%;
	}
	.divcoachingsec h2{
		font-size:25px;
	    margin-top: 25px;
    	margin-bottom: 25px;
	    padding: 0px 20px;
	}
	.divcoachingsec p{
	font-size:17px;
	text-align:left;
	margin-left:10%;
	margin-right:10%;
	margin-top:15px;
	line-height:27px;
	padding-bottom:50px;
	}
	.divcoachingsec p span{
	font-size:24px;
	line-height:50px;
	}
	.divcoachingsec img{
	width:60%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
	}
	.inferior{
		position:relative;
		top:550px;
	}
	.superior{
		position:relative;
		top:-650px;
	}
	.divservicesec p {
		font-size: 1.8vw;
		text-align:justify;
	}
	.cambioinf{
		position:relative;
		top:430px;
	}
	.cambiosup{
		position:relative;
		top:-420px;
	}
}

@media (max-width:880px){
	.botonestranssec{
	margin-top:50px;
	}
	.botonestranssec p{
	font-size:24px;
	width:240px;
	}
	.boton1{
	padding-top:23px;
	padding-bottom:23px;
	}
	.boton2{
	padding-top:9px;
	padding-bottom:9px;
	}
	.botonestranssec img{
	width:240px;
	}
	.inferior{
		position:relative;
		top:500px;
	}
}

@media (max-width:860px){
	.mainquotetrans h3{
	margin-top:500px;
	font-size:20px;
	}
	.quotetrans2 h3{
	font-size:20px;
	}
}

@media (max-width:801px){
	.inferior{
		top:470px;
	}
}

@media (max-width:796px){
	.fondoimgder{
	height:370px;
	}
	.inferior{
		top:480px;
	}
	.fondoservimg {
		height: 70%;
		width: 50%;
		top: -60%;
		left: 30%;
	}
	.divserviceimg img {
		width: 50%;
	}
	.cambioinf{
		top:450px;
	}
	.cambiosup{
		top:-380px;
	}
}
@media (max-width:780px){
	.mainquotetrans h3{
	margin-top:470px;
	font-size:20px;
	}
}

@media (max-width:760px){

	.divcoachingsec p{
	font-size:2.35vw;
	}
	.divcoachingsec p span{
	font-size:3vw;
	}
	.divcoachingsec h2{
	font-size:3.0vw;
	margin-top:40px;
	}
}

@media (max-width:750px){
	.botonestranssec{
	margin-top:40px;
	}
	.botonestranssec p{
	font-size:21px;
	width:200px;
	}
	.boton1{
	padding-top:21px;
	padding-bottom:21px;
	}
	.boton2{
	padding-top:9px;
	padding-bottom:9px;
	}
	.botonestranssec img{
	width:200px;
	}
}

@media (max-width:730px){

	.inferior{
		top:470px;
	}
	.cambiosup{
		top:-360px;
	}
	.citas4{
	width:200px;
	font-size:21px;
	margin-left:19%;
	}
}

@media (max-width:700px){
	.fondoimgder{
		height:300px;
		width:58%;
		top:-260px;
		left:28%;
	}
	.mainquotetrans h3{
	margin-top:420px;
	font-size:18px;
	}
	.quotetrans2 h3 {
    	font-size: 20px;
	}
	.inferior{
		top:420px;
	}
	.divserviceimg{
		margin-top:0px;
		height:330px;
	}
	.divcoachingsec {
    	height: 620px;
	}
	.divservicesec h3{
		font-size:4.2vw;
		top:-27px;
	}
	.divservicesec p{
		font-size:2.2vw;
		margin-top:-20px;
		margin-right:15%;
	}
	.fondotitulo{
		width:70%;
	}
	.cambioinf{
		top:400px;
	}
	.cambiosup{
		top:-390px;
	}
}

@media (max-width:631px){
	.divcoachingsec {
		height: 570px;
	}
	.divcoachingsec h2{
		margin-top:25px;
	}
	.inferior{
		top:360px;
	}
	.superior{
		top: -615px;
	}
	.divcoachingsec p span {
		line-height:35px;
	}
	.divserviceimg{
		height:320px;
	}
	.divserviceimg img{
		margin-top:0px;
	}
	.cambioinf{
		top:300px;
	}
	.cambiosup{
		top:-387px;
	}
}

@media (max-width:621px){
	.botonestrans{
	display:block;
	}
	.botonestranssec{
	width:100%;
	margin-top:70px;
	}
	.botonestranssec{
	margin-top:40px;
	}
	.botonestranssec p{
	font-size:28px;
	width:300px;
	}
	.boton1{
	padding-top:25px;
	padding-bottom:25px;
	}
	.boton2{
	padding-top:9px;
	padding-bottom:9px;
	}
	.botonestranssec img{
	width:300px;
	}
}

@media (max-width:595px){
	.divcoachingsec{
	height: 570px;
	}	
	.fondoimgder{
		height: 260px;
	    width: 58%;
    	top: -230px;
	}
	.superior{
		top:-630px;
	}
	.inferior{
		top:300px;
	}
	.coachgral {
		margin-top: -250px;
	}
}

@media (max-width:557px){
	.divcoachingsec img{
	width:70%;
	}
	.divcoachingsec p{
	font-size:2.8vw;
	}
	.divcoachingsec p span{
	font-size:3.6vw;
	}
	.divcoachingsec h2{
	font-size:3.6vw;
	padding:0px;
	}
	.fondoimgder{
	width:65%;
	height:270px;
	}	
	.superior {
    	top: -615px;
	}
	.inferior{
		top:350px;		
	}
	.coachgral {
		margin-top: -130px;
	}
	.divserviceimg {
		height: 285px;
	}
	.divservicesec h3{
		font-size:5vw;
	}
	.divservicesec p{
		font-size:2.8vw;
		padding-bottom:12px;
	}
	.botonesprogramar{
		display:block;
	}
	.programacion{
		margin:5px auto;
	}
	.divservicesec p{
	    line-height: 22px;
	}
	.cambioinf{
		top:270px;
	}
	.cambiosup{
		top:-410px;
	}
}

@media (max-width:515px){
	.inferior{
		top:320px;
	}
}

@media (max-width:475px){
	.inferior{
		top:300px;
	}
	.superior{
		top:-580px;
	}
	.fondoimgder{
		height:250px;
		top:-220px;
	}
	.divcoachingsec{
		height:540px;
	}
	.divserviceimg {
		height: 230px;
	}
	.divservicesec h3{
		left:50px;
	}
	.fondotitulo{
		width:75%;
	}
	.programacion {
		font-size: 16px;
		width: 150px;
	}
	.divcoachingsec p{
		font-size:3vw;
		line-height:20px;
	}
	.divcoachingsec h2 {
    	font-size: 4.2vw;
	}
	.divcoachingsec p span {
		line-height: 40px;
	}
	.cambioinf{
		top:215px;
	}
}


@media (max-width:452px){
	.inferior{
		top:280px;
	}
	.coachgral {
		margin-top: -170px;
	}
}

@media (max-width:445px){
	.fondoimgder{
		height:220px;
		top:-190px;
	}
	.citas{
	width:180px;
	font-size:18px;
	}
	.citas2{
	width:180px;
	font-size:18px;
	}
	.citas3{
	width:180px;
	font-size:18px;
	}
	.citas4{
	width:180px;
	font-size:20px;
	margin-left:19%;
	}
	.citasdesarrollo{
	width:180px;
	font-size:18px;
	}
	.divserviceimg {
		height: 220px;
	}
	.divservicesec p{
		line-height: 18px;
	}
	.cambiosup{
		top:-350px;
	}
}

@media (max-width:428px){
	.inferior{
		top:265px;
	}
	.divserviceimg {
		height: 200px;
	}
	.divservicesec p {
    	font-size: 3vw;
	}
	.divservicesec h3 {
		font-size: 5.5vw;
	}
	.coachgral {
		margin-top: -215px;
	}
}


@media (max-width:405px){
	.botonestranssec{
	margin-top:25px;
	}
	.botonestranssec p{
	font-size:22px;
	width:210px;
	}
	.boton1{
	padding-top:21px;
	padding-bottom:21px;
	}
	.boton2{
	padding-top:9px;
	padding-bottom:9px;
	}
	.botonestranssec img{
	width:210px;
	}
	.divcoachingsec h2{
	font-size:4.5vw;
	}
	.inferior{
		top:250px;
	}
	.cambioinf{
		top:200px;
	}
}

@media (max-width:400px){
	.divcoachingsec h2{
	font-size:4vw;
	}
	.divcoachingsec p span{
	font-size:4vw;
	}
	.divcoachingsec p{
	font-size:3.2vw;
	}
}

@media (max-width:385px){
	.mainquotetrans h3{
	margin-top:420px;
	font-size:14px;
	}
	.quotetrans2 h3{
	font-size:18px;
	}
	.botonestranssec{
	margin-top:25px;
	}
	.botonestranssec p{
	font-size:18px;
	width:190px;
	}
	.boton1{
	padding-top:16px;
	padding-bottom:16px;
	}
	.boton2{
	padding-top:7px;
	padding-bottom:7px;
	}
	.botonestranssec img{
	width:190px;
	}
	.fondoimgder{
		height:190px;
		top:-165px;
		left:26%;
	}
}

@media (max-width:380px){
	.citas{
	width:150px;
	font-size:15px;
	}
	.citas2{
	width:150px;
	font-size:15px;
	}
	.citas3{
	width:150px;
	font-size:15px;
	}
	.citasdesarrollo{
	width:150px;
	font-size:15px;
	}
		.citas4{
	margin-left:22%;
	}
}

@media (max-width:366px){
	.inferior{
		top:210px;
	}
	.coachgral{
		margin-top:-270px;
	}
	.divserviceimg{
		height:175px;
	}
	.cambioinf{
		top:170px;
	}
	.cambiosup{
		top:-360px;
	}
}

@media (max-width:343px){
	.divcoachingsec p span{
	font-size:4.3vw;
	}
	.divcoachingsec p{
	font-size:3.9vw;
	line-height:25px;
	}
	.divcoachingsec h2{
	font-size:4.3vw;
	margin-top:15px;
	margin-bottom:15px;
	}
	.fondoimgder{
		height: 165px;
  		top: -145px;
		left: 27%;
	}
	.inferior{
		top:200px;
	}
	.coachgral{
		margin-top:-210px;
	}
	.divserviceimg {
		height: 160px;
	}
	.divservicesec h3 {
		font-size: 6vw;
		left:25px;
	}
	.fondotitulo {
		width: 80%;
	}
	.programacion {
		font-size: 14px;
		width: 140px;
		padding: 4px 0px;
	}
	.cambioinf {
		top: 150px;
	}
}



@media (max-width:315px){
	.inferior{
		top:180px;
	}
	.cambioinf{
		top:140px;
	}
	.cambiosup{
		top:-350px;
	}
}
