@charset "utf-8";
/* CSS Document */

/*Menú*/
@media (max-width:1052px){
	.menu{
		font-size:20px;
		z-index:1;
		overflow:hidden;
	}
	.menu ul{
		display:block;
		margin-left:0%;
	}
	.menu ul a{
		display:none;
		line-height:0px;
		margin-top:0%;
	}
	.menu ul a{
		color:#eeeeee;
		margin-left:0%;
	}
	.hamburguesa{
		display:block !important;
		float:right;
		margin-right:5%;
		margin-top:2.5%;
	}
}
@media (max-width:1052px){
	.menu.responsive{
		position:absolute;
		height:auto;
		width:100%;
		z-index:1;
		top:0;
	}
	.menu.responsive ul a{
		display:block;
		font-size:18px;
		width:99%;
		text-align:center;
		padding:4px;
		padding:10px;
	}
	.menu.responsive ul a{
		margin-top:5.4%;
		margin-bottom:4%;
	}
	.menu.responsive hamburguesa{
		position:absolute;
		margin-right:0%;
		margin-top:3%;
		color:#fff;
	}
	.logomenu {
		width: 60px;
		height: 60px;
		float: left;
		position: absolute;
		left: 85px;
		top:0px;
	}
	.menu.responsive ul a:hover{
		background-color:rgba(255,255,255,0.2);
	}
}

/*Index*/
@media(max-width:1800px){
	.menu ul a {
		font-size: 18px;
		margin-left: 4.8%;
	}
	
	.logomenu{
		margin-right:110px;
	}
	.menu ul{
		width: 60%;
		margin-left:20%;
	}
	
	.divlogo{
		width:30%;
	}
	.divtitulo{
		width:auto;
	}
	.divtitulo h2 {
		font-size: 55px;
		margin-left: -15%;
		width: 515px;
	}
	.divtitulo p {
		font-size: 36px;
		font-weight: bold;
		margin-left: -35%;
		margin-top: 85px;
		text-shadow: 2px 2px 3px #D0CECE;
	}
	.divimg img {
		width: 350px;
		height: 350px;
	}
	.divtxt h2 {
   		font-size: 36px;
	}
	.mainquote h3 {
    	font-size: 38px;
	}
	.programar p {
    	font-size: 32px;
	}
	.blogsection{
		height:480px;
	}
	.blogtxt p {
   		padding-top: 100px;
	}
	.infofooter{
		font-size:20px;
	}
}

@media(max-width:1095px){
	.blogtxt p{
		font-size:25px;
	}
	.divimg img{
		width:300px;
		height:300px;
	}
	.mainquote h3 {
  		font-size: 36px;
	}
	.footerredes{
		margin-left:20%;
	}
}

@media(max-width:990px){
	.header1{
		background-position: center;
		height:580px;
	}
	.divlogo img{
		width:140px;
	}
	.divtitulo h2{
		font-size:48px;
	}
	.divtitulo p{
		font-size:32px;
	}
	.divimg img{
		width:270px;
		height:270px;
	}
	.mainquote h3{
   		font-size: 34px;
	}
	.infofooter{
		margin-left:10px;
	}
}

@media(max-width:860px){
	.header1{
		background-position: center;
		height:550px;
	}
	.divlogo img{
		width:120px;
	}
	.divtitulo h2{
		font-size:45px;
		margin-left:-7%;
		margin-top:190px;
		text-shadow: 1px 1px 5px #D0CECE;
	}
	.divtitulo p{
		font-size:28px;
		margin-top:50px;
		margin-left:-20%;
	}
	.blogtxt p{
		font-size:22px;
	}
	.blogtxt h3{
		font-size:22px;
		margin-top:40px;
	}
	.divimg img{
		width:250px;
		height:250px;
	}
	.mainquote h3{
    	font-size: 30px;
	}
	.programar p{
  		font-size: 30px;
	}
	.programar h3{
   		font-size: 28px;
	}
	.footerredes{
		margin-left:15%;
	}
	.footerinfo{
		margin-left:5%;
	}
	.infofooter{
		font-size:18px;
	}
}

@media(max-width:780px){
	.header1{
		height:500px;
	}
	.divtitulo h2{
		font-size:40px;
		margin-left:1%;
		margin-top:190px;
		text-shadow: 1px 1px 5px #D0CECE;
	}
	.divtitulo p{
		font-size:26px;
		margin-top:50px;
		margin-left:-15%;
	}
	.divimg img{
		width:220px;
		height:220px;
	}
	.divtxt h2{
		font-size:32px;
		margin-top:50px;
		padding-top:230px;
	}
}

@media(max-width:700px){
	.header1{
		height:470px;
	}
	.divtitulo h2{
		width:400px;
	}
	.bodyprin{
		display:block;
	}
	.bodysec{
		width:100%;
	}
	.divtxt h2{
		width:60%;
	}
	.divimg img{
		width:250px;
		height:250px;
	}
	.mainquote h3{
		font-size: 28px;
		margin-top:70px;
	}
	.programar p{
		font-size: 28px;
		margin-top:70px;
	}
	.programar h3{
		font-size: 26px;
		width:280px;
	}
}

@media(max-width:657px){
	.blogsection{
		background-image:url('../img/index/2resp.jpg');
	}
	.blogtxt{
		width:100%;
	}
	.blogtxt p{
		font-size:22px;
		text-shadow:2px 2px 5px #4D4955;
	}
	.blogtxt h3{
		font-size:22px;
		margin-top:35px;
	}
	.fa-2x{
		font-size:30px !important;
	}
	.mainquote h3{
	    font-size: 26px;
	}
	.programar p{
 	   font-size: 26px;
	}
	.programar h3{
		font-size: 24px;
		width:260px;
	}
}

@media(max-width:625px){
	.header1{
		height:440px;
	}
	.divtitulo h2{
		width:400px;
		font-size:36px;
		margin-top:170px;
	}
	.divtitulo p{
		font-size:22px;
		margin-top:50px
	}
	.divlogo{
		width:50%;
	}
	.divlogo img{
		width:100px;
	}
	.mainquote h3 {
 		font-size: 25px;
	}
	.programar p{
   		font-size: 25px;
	}
	.programar h3{
		font-size: 23px;
		width:250px;
	}
}

@media(max-width:580px){
	.header1{
		height:400px;
		background-position:right;
	}
	.divtitulo h2{
		width:350px;
		font-size:36px;
		margin-top:150px;
		margin-left:0px;
	}
	.divtitulo p{
		font-size:22px;
		margin-top:50px
	}
	.divtitulo{
		width:70%;
	}
	.divlogo{
		width:30%;
	}
	.divlogo img{
		width:90px;
	}
	.divtxt h2{
		font-size:28px;
	    margin-top: 80px;
	    padding-top: 200px;
	}
	.divimg img{
		width:200px;
		height:200px;
	}
	.mainquote h3{
    	font-size: 24px;
	}
	.programar p{
    	font-size: 24px;
	}
	.programar h3{
		font-size: 22px;
		width:230px;
	}
	footer{
		display:block;
		height:auto;
	}
	.footerinfo{
		width:100%;
		margin-left:0px;
	}
	.footerredes{
		width:50%;
		margin-top:15px;
		margin-left:32%;
		padding-bottom:10px;
	}
	.imgfooter{
		width:35%;
	}
	.imgfooter img{
		margin-top:15px;
		width:70px;
	}
	.infofooter{
		margin-top:35px;
		width:65%
	}
	.tamarindo{
		padding-bottom:10px;
	}
}

@media(max-width:485px){
	.divtitulo h2{
		width:350px;
		font-size:34px;
		margin-top:150px;
		margin-left:0px;
	}
	.divtitulo p{
		font-size:20px;
		margin-top:38px;
	}
	.divtitulo{
		width:72%;
	}
	.divlogo{
		width:28%;
	}
	.divlogo img{
		width:80px;
	}
	.mainquote h3{
		font-size: 22px;
		margin-top:50px;
	}
	.programar p{
		font-size: 22px;
		margin-top:50px;
	}
}

@media(max-width:425px){
	.header1{
		background-image:url('../img/index/1resp.jpg');
		background-position:center;
		width:100%;
		position:absolute;
		top:0;
	}
	.bodyprin{
		margin-top:450px;
	}
	.portadasec{
		display:block;
	}
	.divlogo{
		position:relative;
		top:-100px;
		left:10px;
	}
	.divtitulo p{
		font-size:18px;
		text-align:center;
		margin:0px;
		position:relative;
		top:-70px;
		left:60px;
	}
	.divtitulo h2{
		font-size:30px;
		margin-top:0px;
		position:relative;
		top:-75px;
		left:50px;
		text-align:center;
		width:300px;
	}
	.logomenu{
		left:15px;
	}
	.divtxt h2{
		width:70%;
		font-size:26px;
	}
	.mainquote h3 {
  		font-size: 20px;
	}
	.programar p {
  		font-size: 20px;
	}
	.fa-3x{
		font-size:2.5em !important;
	}
	.imgfooter img {
   		width: 55px;
	}
	.infofooter{
		font-size:16px;
	}
	.footerredes{
		margin-left:28%;
	}
}

@media(max-width:400px){
	.blogtxt p{
		font-size:20px;
		text-shadow:2px 2px 5px #4D4955;
		padding-top:60px;
	}
	.blogtxt h3{
		font-size:20px;
		margin-top:30px;
	}
	.programar h3{
		font-size: 20px;
		width:220px;
	}
}

@media(max-width:367px){
	.divtitulo h2{
		top:-75px;
		left:28px;
		font-size:28px;
	}
		.divtitulo p{
		top:-75px;
		left:70px;
	}
}

@media(max-width:328px){
	.divtitulo h2{
		top:-75px;
		left:10px;
		font-size:28px;
		width:280px;
	}
		.divtitulo p{
		top:-75px;
		left:50px;
	}
	.divtxt h2{
		font-size:24px;
	    margin-top: 110px;
	    padding-top: 160px;
	}
	.divimg img{
		width:175px;
		height:175px;
	}
	.mainquote h3 {
	    font-size: 20px;
	}
	.programar p {
 	   font-size: 20px;
	}
	.imgfooter{
		width:22%;
	}
	.imgfooter img {
  		width: 45px;
	}
	.infofooter{
		font-size:14px;
		margin-left:0%;
		width:78%;
	}
	.footerredes{
		margin-left:26%;
	}
	.fa-3x{
		font-size:2em !important;
	}
}

/*Sobre Mí*/

@media(max-width:1800px){
	.titulosobre h1 {
  	  font-size: 60px;
	}
	.quotesobre p {
    	font-size: 22px;
	}
	.experienciatxt{
		width:55%;
	}
	.experienciaimg{
		background-color:#dad1e0;
		width:45%;
	}
	.experienciatxt h3 {
		font-size: 40px;
		margin-top: 80px;
	}
	
	.experienciatxt p{
		font-size:	1.3vw;
		line-height:30px;
		margin-top:69px;
		margin-right:20%;
	}
	.exp2 p{
		font-size:	1.3vw;
		margin-left:11%;
		margin-right:15%;
		margin-top:0px;
		line-height:30px;
	}
	.bioback {
		position: relative;
		top: 0px;
		z-index: -1;
		margin-top:-1550px;
		height:1650px;
	}
	.bioback h3{
		font-size:40px;
		padding-top:60px;
	}
	.biografiaprin{
		padding-bottom:80px;
		margin-top:180px;
	}
	.biografiaimg img {
		width: 85%;
		margin-top: 150px;
	}
	.biografiatxt p{
		padding-top:25%;
		font-size:1.3vw;
	}
	.titulotestimonios h3{
		font-size:40px;
	}
	.testimonios p {
		font-size: 17px;
		margin-top: 40px;
		line-height: 20px;
	}
	.testimonios h3 {
		font-size: 20px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.testimoniosprin{
		padding-bottom:50px;
	}
	.videosprin{
		height:400px;
	}
	.titulointereses{
		margin-top:100px;
	}
	.titulointereses h3{
		font-size:40px;
	}
	.titulointereses p{
		font-size:17px;
		line-height:27px;
	}
	.cuadro1{
		height:400px;
		margin-top:-58%;
	}
	.cuadro2{
		height:400px;
		margin-top:1%;
	}
	
}

@media (max-width:1200px){
	.titulosobre{
		margin-top:-200px;
	}
	.titulosobre h1 {
	    font-size: 55px;
	}
	.quotesobre p {
		font-size: 20px;
		padding-bottom:120px;
	}
	.header2{
		height:550px;
	}
	.portadasobre{
		height:50%;
	}
	.experienciaprin{
		margin-top:550px;
	}
	.experienciatxt h3{
		margin-top:70px;
		font-size:38px;
	}
	.experienciatxt p{
		line-height:27px;
		margin-top:45px;
	}
	.biografiaimg img{
		margin-top:80px;
	}
	.biografiatxt p{
		padding-top:15%;
		line-height:27px;
	}
	.bioback{
		margin-top:-1300px;
		height:1400px;
	}
	.bioback h3{
		font-size:38px;
	}
	.video{
		width:45%;
	}
	.titulointereses h3{
		font-size:38px;
	}
	.cuadro1{
		width:50%;
		height:360px;
		margin-top:-60%;
	}
	.cuadro2{
		width:50%;
		height:360px;
		margin-top:-1%;
	}
}

@media(max-width:990px){
	.header2{
		height:500px;
	}
	.portadasobre{
		margin-top:170px;
	}
	.titulosobre{
		margin-top:-180px;
	}
	.titulosobre h1{
		font-size:52px;
	}
	.quotesobre p {
	    font-size: 18px;
    	padding-bottom: 50px;
	}
	.experienciaprin{
		margin-top:500px;
	}
	.experienciatxt h3 {
		margin-top: 60px;
		font-size: 36px;
		margin-left:18%;
	}
	.experienciatxt p {
		line-height: 23px;
		margin-top: 35px;
		font-size: 13.5px;
		margin-right:10%;
		margin-left:17%;
	}
	.exp2 p {
		line-height: 23px;
		font-size: 13.5px;
		margin-right:17%;
		margin-left:9%;
		padding-top:20px;
	}
	.bioback h3{
		font-size:36px;
	}
	.biografiaimg img {
		margin-top: 50px;
	}
	.biografiatxt p {
		padding-top: 10%;
		line-height: 23px;
		font-size: 13.5px;
		margin-right:10%;
		margin-left:10%;
	}
	.bioback{
		margin-top:-1020px;
		height:1100px;
	}
	.testimoniosprin{
		padding-bottom:30px;
	}
	.titulotestimonios h3{
		font-size:36px;
		padding-top:50px;
	}
	.testimonios{
		margin-top:40px;
	}
	.testimonios p{
		font-size:15px;
	}
	.testimonios h3 {
		font-size: 16px;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.video {
		width: 50%;
		padding-top:80px;
	}
	.titulointereses {
		margin-top: 70px;
	}
	.titulointereses h3{
		font-size:36px;
	}
	.titulointereses p {
		font-size: 15px;
		line-height: 22px;
	}
	.cuadro1 {
		width: 45%;
		height: 300px;
		margin-top: -60%;
	}
	.cuadro2 {
		width: 45%;
		height: 300px;
		margin-top: -1%;
	}	
}

@media(max-width:950px){
	.biografiaprin{
		margin-top:150px;
	}
	.bioback{
		margin-top:-1050px;
	}
	
}

@media(max-width:860px){
	.header2 {
		height: 470px;
	}
	.portadasobre{
		height:40%;
	}
	.titulosobre{
		margin-top:-155px;
		width:280px;
		height:75px;
	}
	.titulosobre h1{
		font-size:50px;
	}
	.quotesobre p{
		font-size:16px;
		padding-top:130px;
		padding-bottom:70px;
	}
	.experienciaprin {
		margin-top: 470px;
	}
	.experienciatxt h3{
		font-size:34px;
	}
	.experienciatxt p {
		line-height: 22px;
		margin-top: 26px;
		font-size: 13px;
	}
	.exp2 p {
		line-height: 22px;
		margin-top: 26px;
		font-size: 13px;
		margin-top:0px;
	}
	.bioback h3 {
		font-size: 34px;
	}
	.titulotestimonios h3 {
		font-size: 34px;
	}
	.testimonios p {
		font-size: 14px;
		margin-top:36px;
	}
	.testimonios h3 {
		font-size: 14px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.prev, .next {
		font-size: 40px;
	}
	.dot{
		width:13px;
		height:13px;
	}
	.interesesprin{
		padding-bottom:70px;
	}
	.titulointereses h3{
		font-size:34px;
	}
	.titulointereses p{
		font-size:14px;
	}
	.cuadro1{
		margin-top:-64%;
	}
	
}
@media(max-width:847px){
	.bioback{
		margin-top:-1100px;
	}
}

@media(max-width:827px){
	.bioback{
		margin-top:-1150px;
	}
}

@media(max-width:794px){
	.bioback{
		margin-top:-1170px;
	}
}
@media(max-width:780px){
	.header2{
		height:450px;
	}
	.portadasobre{
		height:38%;
	}
	.titulosobre{
		margin-top:-130px;
	}
	.titulosobre h1{
		font-size:46px;
	}
	.quotesobre{
		width:25%;
	}
	.quotesobre p{
		font-size:15px;
		padding-bottom:67px;
	}
	.experienciaprin{
		margin-top:450px;
	}
	.experienciatxt h3{
		font-size:30px;
		margin-top:45px;
	}
	.experienciatxt p {
		line-height: 20px;
		margin-top: 18px;
		font-size: 12.5px;
	}
	.exp2 p {
		line-height: 20px;
		font-size: 12.5px;
	}
	.biografiaimg img{
		margin-top:30px;
	}
	.biografiatxt p{
		padding-top:8%;
		line-height:21px;
		font-size:13px;
	}
	.bioback{
		margin-top:-1060px;
	}
	.bioback h3{
		font-size:30px;
		padding-top:40px;
	}
	.titulotestimonios h3{
		font-size:30px;
	}
	.testimonios p{
		font-size:13px;
		line-height:18px;
	}
	.dot2{
		width:13px;
		height:13px;
	}
	.titulointereses{
		margin-top:40px;
	}
	.titulointereses h3 {
		font-size: 30px;
	}
	.titulointereses p {
		font-size: 13px;
		line-height:21px;
	}
	.cuadro1 {
		height: 250px;
	}
	.cuadro2 {
		height: 250px;
		margin-top: 3%;
	}
}
@media(max-width:720px){
	.bioback{
		margin-top:-1120px;
	}
}
@media(max-width:700px){
	.header2{
		height:400px;
	}
	.portadasobre{
		width:65%;
		height:36%;
	}
	.titulosobre{
		margin-top:-115px;
		width:250px;
		height:65px;
	}
	.titulosobre h1{
		font-size:42px;
	}
	.quotesobre{
		margin-top:-70px;
	}
	.quotesobre p{
		font-size:13.5px;
		padding-bottom:50px;
		padding-top:90px;
	}
	.experienciaprin{
		margin-top:355px;
		display:inline-block;
	}
	.experienciatxt{
		width:100%;
	}
	.experienciatxt h3{
		padding-top:45px;
		font-size:28px;
	}
	.experienciaimg{
		width:100%;
	}
	.experienciaimg img {
		width: 45%;
		margin: 15px 26.5%;
	    border: 3px solid #AD9DB7;
		border-radius: 10px;
		padding: 2px;
	}
	
	.exp2 p{
		margin-left:18%;
		margin-right:10%;
	}
	.biografiaprin{
		margin-top:150px;
	}
	.biografiasec{
		display:block;
	}
	.biografiaimg {
		width: 65%;
		margin-left: 17.5%;
	}
	.biografiatxt {
		width: 100%;
	}
	.bioback{
		margin-top:-1300px;
		height:1350px;
	}
	.bioback h3{
		font-size:28px;
	}
	.titulotestimonios h3{
		font-size:28px;
		padding-top:40px;
	}
	.video {
    	width: 60%;
	}
	.titulointereses h3 {
		font-size: 28px;
	}
	.titulointereses p {
		font-size: 12px;
		line-height: 18px;
	}
	.interesessec{
		width:100%;
		display:contents;
		height:auto;
	}
	.interesesimg{
		width:100%;
		margin-top:20px;
	}
	.interesesimg img{
		width: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		height:auto;
	}
	.interesesprin {
		padding-bottom: 70px;
		height:auto;
		margin-top:60px;
		height:2200px;
	}
	.interesessec:after{
		clear:both;
		display:table;
		content:"";
	}
	.cuadro1 {
		margin-top: 0;
		position: relative;
		z-index: -1;
		top: -2220px;
		height:1000px;
	}
	.cuadro2 {
		margin-top: 0;
		position: relative;
		z-index: -1;
		top: -1950px;
		height:1000px;
	}
}

@media(max-width:657px){
	.interesesprin{
		height:2000px;
	}
	.quotesobre {
		width:26%;
		margin-top: -85px;
	}
}

@media(max-width:610px){
	.interesesprin{
		height:1950px;
	}
}

@media(max-width:590px){
	.interesesprin{
		height:1900px;
	}
}
@media(max-width:580px){
	.titulosobre {
		margin-top: -110px;
		width: 200px;
		height: 55px;
	}
	.titulosobre h1 {
		font-size: 40px;
	}
	.interesesprin{
		height:1850px;
	}
	.quotesobre p {
		font-size: 12px;
		padding-bottom: 50px;
		padding-top: 95px;
	}
}