@charset "utf-8";
/* CSS Document */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote{
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

a{
	text-decoration:none;
	margin:0;
}

/*Submenú*/
.dropdown {
  padding-left:65px;
  overflow: hidden;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(156,186,213,0.9);
  min-width: 180px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*Fin Submenú*/
.header1{
	background-image:url('../img/index/1.jpg');
	width:100%;
	height:670px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}

.topnav{
	display:block;
	width:100%;
    z-index: 12;
    position: fixed;
    top: 0px;
}

.dias{
	width:20%;
	margin-right:0px;
	position:absolute;
	top:9px;
	left:5px;
}

.dias:after{
	clear:both;
	content:"";
	display:table;
}

.menu{
	height:90px;
	background-color: rgba(130,16,210,0.9);
	display:block;
}

.logomenu{
	width:60px;
	height:60px;
	float:right;
	position: absolute;
    top: 15px;
    right: 50px;
}

.hamburguesa{
	display:none !important; 
	color:#ffffff;
}

.menu ul{
	margin-left:25%;
	padding-top:30px;
	display:inline-flex;
	float:left;
	width:60%;
	list-style:none;
}

.menu ul a{
	color:#ffffff;
	font-family:'arimo';
	font-size:23px;
	margin-left:6%;
}
.menu ul a:hover{
	background-color:rgba(255,255,255,0.2);
	}

@font-face {
  font-family: arimo;
  src:url('../fuentes/Arimo-Regular.ttf');
}

@font-face {
  font-family: coneria;
  src:url('../fuentes/Demo_ConeriaScript.ttf');
}

@font-face {
  font-family: amaranth;
  src:url('../fuentes/Amaranth-Regular.ttf');
}

@font-face {
  font-family: candle;
  src:url('../fuentes/Candlescript%20Demo%20Version.otf');
}

@font-face {
  font-family: vibes;
  src:url('../fuentes/GreatVibes-Regular.ttf');
}

.portadaprin{
	display:block;
	width:100%;
}

.portadasec{
	display:inline-flex;
	width:90%;
}

.divlogo{
	width:50%;
}

.divlogo img{
	width:170px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top:250px;
}

.divtitulo{
	width:50%;
	display:block;
}

.divtitulo img{
	width:60%;
	margin-top:280px;
	margin-left:-41%;
	border-bottom:3px solid #8210d2;
}

/*.divtitulo h2{
	font-family:'candle';
	font-size:78px;
	color:#373b7a;
	margin-top:270px;
	margin-left:-43%;
	border-bottom:3px solid #8210d2;
	width:530px;
	height:105px;
}*/

.divtitulo p{
	font-family:'coneria';
	color:#545454;
	font-size:40px;
	font-weight:bold;
	margin-left:-38%;
	margin-top:20px;
}

.bodyprin{
	width:100%;
	display:inline-flex;
}

.bodysec{
	display:block;
	width:50%;
}

.divimg{
	width:100%;
	z-index:1;
}

.divimg img{
	width:450px;
	height:420px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:80px;
	border-radius:10px;
}

.divtxt{
	width:100%;
	z-index:-2;
	margin-top:-260px;
}

.divtxt h2{
	text-align:center;
	font-family:'coneria';
	color:#939393;
	font-size:40px;
	margin-top:30px;
	font-weight:bold;
	width:75%;
	margin-left:auto;
	margin-right:auto;
	padding-top:250px;
	border:4px solid #939393;
}

.quote{
	width:100%;
}

.quote h3{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:120px;
	font-family:'amaranth';
	font-size:45px;
	color:#000000;
	text-align:center;
}

.mainquote{
	width:100%;
}

.mainquote h3{
	margin-top:120px;
	font-family:'amaranth';
	font-size:45px;
	color:#000000;
	text-align:center;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

.programar{
	width:100%;
	display:block;
	background-color:#6f6f6f;
	margin-top:50px;
	padding-bottom:50px;
}

.programar p{
	font-family:'amaranth';
	font-size:35px;
	color:#ffffff;
	width:60%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding-top:60px;
}

.programar h3{
	font-family:'amaranth';
	font-size:30px;
	color:#ffffff;
	background-color:#480a73;
	width:300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	text-align:center;
	padding-top:7px;
	padding-bottom:7px;
}

.blogsection{
	background-image:url('../img/index/2.jpg');
	width:100%;
	min-height:450px;
	background-size:cover;
	background-position:center;
}

.blogtxt{
	width:60%;;
	float:right;
	display:block;
}

.blogtxt p{
	font-family:'amaranth';
	font-size:28px;
	color:#ffffff;
	width:60%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding-top:120px;
}

.blogtxt h3{
	font-family:'amaranth';
	font-size:25px;
	color:#ffffff;
	background-color:#480a73;
	width:150px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	text-align:center;
	padding-top:7px;
	padding-bottom:7px;
	margin-bottom:30px;
}

footer{
	background-color:#7f11d1;
	width:100%;
	height:220px;
	display:inline-flex;
}

.footerinfo{
	width:50%;
	display:inline-flex;
}


.imgfooter{
	width:50%;
}

.imgfooter img{
	width:90px;;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
}

.infofooter{
	color:#ffffff;
	font-family:'arimo';
	font-size:25px;
	margin-top:90px;
	margin-left:-10%;
}

.footerredes{
	width:50%;
	display:block;
	margin-top:100px;
	margin-left:5%;
}

.footerredes a{
	color:#ffffff;
	text-align:center;
	margin-left:10px;;
}

.tamarindo{
	color:#ffffff;
	font-size:12px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	padding-bottom:5px;
	background-color:#7f11d1;
}

.tamarindo a{
	color:#ffffff;
	font-weight:bold;
}


/*Comienzo Sobre Mi*/

.header2{
	background-image:url('../img/about/portada.jpg');
	width:100%;
	height:600px;
	background-size:cover;
	background-position:center;
	z-index:-3;
	position:absolute;
}

.portadasobre{
	width:75%;
	height:60%;
	background-color:rgba(149,156,166,0.7);
	margin-left:auto;
	margin-right:auto;
	margin-top:160px;
	z-index:3;
	position:relative;
}

.titulosobre{
	margin-left:auto;
	margin-right:auto;
	width:300px;
	height:90px;
	border-bottom:4px solid #000000;
	margin-top:-300px;
	z-index:10;
	position:relative;
}

.titulosobre h1{
	font-family:'coneria';
	font-size:70px;
	color:#000000;
	text-align:center;
}

.quotesobre{
	width:24%;
	margin-left:52%;
	background-color:rgba(227,227,228,0.8);
	margin-top:-100px;
	z-index:9;
	position:relative;
}

.quotesobre p{
	font-family:'amaranth';
	font-size:25px;
	text-align:center;
	padding-top:140px;
	padding-bottom:140px;
	margin:0 20px;
}

.experienciaprin{
	width:100%;
	display:inline-flex;
	margin-top:600px;
}

.experienciatxt{
	width:60%;
	background-color:#dad1e0;
	position:relative;
	z-index:-4;
}

.experienciatxt h3{
	font-family:'coneria';
	color:#000000;
	font-size:55px;
	text-align:justify;
	margin-left:20%;
	margin-top:120px;
}

.experienciatxt p{
	font-family:'arimo';
	color:#000000;
	font-size:20px;
	text-align:justify;
	margin-left:20%;
	margin-right:25%;
	margin-top:50px;
	line-height:40px;
	padding-bottom:10px;
}

.exp2{
	width:100%;
	background-color:#dad1e0;
}

.exp2 p{
	font-family:'arimo';
	color:#000000;
	font-size:20px;
	text-align:justify;
	margin-left:12%;
	margin-right:20%;
	margin-top:0px;
	line-height:40px;
	padding-bottom:50px;
	padding-top:50px;
}

.experienciaimg{
	width:40%;
	position:relative;
	z-index:-4;
	height:auto;
}

.experienciaimg img{
	width:100%;
}

.biografiaprin{
	display:block;
	width:100%;
	margin-top:300px;
	padding-bottom:120px;
}

.biografiasec{
	display:inline-flex;
	width:100%;
}

.biografiaimg{
	width:50%;
}

.biografiaimg img{
	display:block;
	margin-right:auto;
	margin-left:auto;
	width:75%;
	margin-top:100px;
}

.biografiatxt{
	width:50%;
}

.biografiatxt p{
	font-family:'arimo';
	font-size:20px;
	text-align:justify;
	margin-right:15%;
	margin-left:15%;
	padding-top:20%;
	line-height:30px;
}

.bioback{
	width:50%;
	height:1750px;
	background-color:#dad1e0;
	margin-left:auto;
	margin-right:auto;
	margin-top:-1600px;
}

.bioback h3{
	font-family:'coneria';
	color:#000000;
	font-size:55px;
	text-align:center;
	padding-top:80px;
}

.testimoniosprin{
	width:100%;
	background-image:url('../img/about/testimonios.jpg');
	background-size:cover;
	padding-bottom:80px;
}

.titulotestimonios{
	width:100%;
}

.titulotestimonios h3{
	font-family:'coneria';
	color:#000000;
	font-size:55px;
	text-align:center;
	padding-top:70px;
}

.testimoniossec{
	width:100%;
	display:inline-flex;
}

.testimonios{
	width:50%;
	background-color:#e0c7d7;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	border-radius:10px;
}

.testimonios p{
	font-family:'arimo';
	font-size:20px;
	text-align:center;
	padding-left:10%;
	padding-right:10%;
	margin-top:50px;
	line-height:30px;
}

.testimonios h3{
	font-family:'amaranth';
	font-size:23px;
	font-weight:bold;
	text-align:center;
	margin-top:90px;
	margin-bottom:60px;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	background-color:#e4e4e4;
	padding-top:15px;
	padding-bottom:15px;
}

/*Slideshow*/

/* Slideshow container */
.slideshow-container2 {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 44%;
  width: auto;
  padding: 25px;
  color:#8210d2;
  font-weight:bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #dad1e0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:#666;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  box-shadow:2px 2px #000000;
  margin-top:20px;
}

.active, .dot:hover {
  background-color: #8210d2;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.video{
	width:40%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-top:100px;
}

.videosprin{
	width:100%;
	height:600px;
}

/*Prueba Slideshow Video*/

/* Slideshow container */
.slideshow-container3 {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides2 {
  display: none;
}

/* Next & previous buttons */
.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 25px;
  color:#999;
  font-weight:bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover, .next2:hover {
  background-color: #7f11d1;
}

/* The dots/bullets/indicators */
.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:#666;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  box-shadow:2px 2px #000000;
  margin-top:20px;
}

.active2, .dot2:hover {
  background-color: #8210d2;
}

/* Fading animation */
.fade2 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade2 {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade2 {
  from {opacity: .4}
  to {opacity: 1}
}


/*Pausa Video*/


/*Fin Prueba Slideshow Video*/

/*Fin Slideshow*/

.interesesprin{
	width:100%;
	display:block;
	margin-top:20px;
	padding-bottom:100px;
}

.interesessec{
	width:100%;
	display:inline-flex;
}

.interesesimg{
	width:33.33%;
	margin-top:50px;
}

.interesesimg img{
	width:70%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.titulointereses{
	width:100%;
	margin-top:150px;
}

.titulointereses h3{
	font-family:'coneria';
	color:#000000;
	font-size:55px;
	text-align:center;
	padding-top:80px;
}

.titulointereses p{
	font-family:'arimo';
	font-size:20px;
	text-align:center;
	padding-left:10%;
	padding-right:10%;
	margin-top:40px;
	line-height:30px;
}

.cuadro1{
	width:55%;
	background-color:#e0c7d7;
	height:610px;
	margin-top:-62%;
	margin-left:2%;
}

.cuadro2{
	width:55%;
	background-color:#e0c7d7;
	height:560px;
	margin-top:6%;
	margin-left:auto;
	margin-right:2%;
}

/*Fin Sobre Mi*/

/*Inicio TransformArte*/

.header3{
	background-image:url('../img/transformarte/portada.jpg');
	width:100%;
	height:600px;
	background-size:cover;
	background-position:center;
	z-index:-3;
	position:absolute;
	top:0;
}

.mainquotetrans{
	width:100%;
}

.mainquotetrans h3{
	margin-top:670px;
	font-family:'amaranth';
	font-size:30px;
	color:#000000;
	text-align:center;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

.quotetrans2 h3{
	font-family:'amaranth';
	font-size:30px;
	color:#000000;
	text-align:center;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:60px;
	margin-bottom:50px;
}

.botonestrans{
	display:inline-flex;
	width:100%;
}

.botonestrans a{
	margin-left:auto;
	margin-right:auto;
}

.botonestranssec{
	width:33.33%;
	margin-top:70px;
}

.botonestranssec img{
	width:300px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.botonestranssec p{
	background-color:rgba(130,16,210,1);
	color:#ffffff;
	font-size:30px;
	width:300px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-family:'amaranth';
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.boton1{
	padding-top:30px;
	padding-bottom:30px;
}

.boton2{
	padding-top:12px;
	padding-bottom:12px;
}

.transfgral{
	margin-top:0px;
}

.divcoaching{
	width:100%;
	display:inline-flex;
}

.divcoachingsec{
	width:50%;
	margin-top:20px;
}

.divservicesec{
	width:55%;
	margin-top:20px;
	height: fit-content;
}

.divserviceimg{
	width:45%;
	margin-top:20px;
	height: fit-content;
	height:515px;
}

.divserviceimg img{
	width:75%;
	margin-top:40px;
	margin-left:10%;
}

.divservicesec h3{
	font-family:'coneria';
	color:#000000;
	font-size:3.6vw;
	text-align:justify;
	position:relative;
	top:-50px;
	left:70px;
	width:85%;
}

.divservicesec p{
	font-family:'arimo';
	color:#000000;
	font-size:1.3vw;
	text-align:left;
	margin-left:10%;
	margin-right:25%;
	margin-top:-30px;
	line-height:26px;
	padding-bottom:30px;
}

.fondoservimg{
	background-color:#dad1e0;
	width:70%;
	height:320px;
	position:relative;
	top:-270px;
	left:120px;
	z-index:-1;
}
.fondotitulo{
	background-color: #dad1e0;
	width:88%;
	margin-left:5%;
	height:5vw;
	position:relative;
	top:0;
}

.fondoproceso{
    background-color: rgba(156,186,213,0.5);
	width:85%;
	padding:15px;
	height:auto;
	margin:auto;
}

.divcoachingsec h2{
	font-family:'coneria';
	color:#000000;
	font-size:25px;
	text-align:center;
	margin-top:40px;
	font-weight:bold;
	width:100%;	
}


.botonesprogramar{
	display:flex;
	width:83%;
	margin:auto;
}

.programacion{
	width:220px;
	background-color:rgba(130,16,210,1);
	font-family:'amaranth';
	font-size:24px;
	color:#ffffff;	
	text-align:center;
	border-radius:10px;
	padding:5px;
	cursor:pointer;
	margin:10px;
}
.programar:hover{
	background-color:#7f6f7a;
}

.citas{
	width:250px;
	background-color:rgba(130,16,210,1);
	font-family:'amaranth';
	font-size:25px;
	color:#ffffff;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border-radius:10px;
	padding:7px;
	cursor:pointer;
}

.citas2{
	width:250px;
	background-color:rgba(130,16,210,1);
	font-family:'amaranth';
	font-size:25px;
	color:#ffffff;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border-radius:10px;
	padding:7px;
	cursor:pointer;
	margin-bottom:120px;
}

.citas3{
	width:250px;
	background-color:rgba(130,16,210,1);
	font-family:'amaranth';
	font-size:25px;
	color:#ffffff;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border-radius:10px;
	padding:7px;
	cursor:pointer;
	margin-bottom:150px;
}

.citas:hover{
	background-color:#7f6f7a;
}
.citas2:hover{
	background-color:#7f6f7a;
}
.citas3:hover{
	background-color:#7f6f7a;
}

.citas4:hover{
	background-color:#7f6f7a;
}

.divcoachingsec p{
	font-family:'arimo';
	color:#000000;
	font-size:20px;
	text-align:left;
	margin-left:20%;
	margin-right:25%;
	margin-top:40px;
	line-height:35px;
	padding-bottom:30px;
}

.divcoachingsec p span{
	font-family:'coneria';
	color:#000000;
	font-size:25px;
	text-align:left;
	margin-left:10%;
	margin-right:25%;
	margin-top:8px;
	font-weight:bold;
}

.divcoachingsec img{
	width:65%;
	margin-top:40px;
	margin-left:10%;
}

#life-coaching-lnk{
	padding:2.8vw;
}
#wellness-health-lnk{
	padding:2.8vw;
}
#sport-coaching-lnk{
	padding:2.8vw;
}
.fondoimgder{
	background-color:rgba(156,186,213,0.5);
	width: 65%;
    height: 350px;
    position: relative;
    top: -40%;
    left: 15%;
    z-index: -1;
}

.progcita{
	width:100%;
	display:inline-flex;
}

.progcita2{
	width:55%;
	background-color:#7f6f7a;
	height:700px;
	z-index:-4;
	margin-bottom:120px;
}

.progcita3{
	background-color:#dad1e0;
	width:70%;
	height:400px;
	margin-top:-670px;;
	z-index:4;
	margin-left:15%;
}

.progcita3 p{
	font-family:'amaranth';
	font-size:25px;
	text-align:center;
	padding-top:130px;
	padding-bottom:120px;
	margin:0 8%;
	width:40%;
}

.progcita4{
	background-color:#7f6f7a;
	width:20%;
	height:100px;
	margin-left:60%;
	margin-top:-250px;
}

.progcita4 h2{
	color:#dad1e0;
	text-align:center;
	font-family:'amaranth';
	font-size:45px;
	padding:20px 0px;
}

.blanco{
	width:100%;
	height:400px;
}
.blanco2{
	width:100%;
	height:50px;
}
/*Fin TransformArte*/

/*Inicio DesarrollArte*/
.header4{
	background-image:url('../img/desarrollarte/portada.jpg');
	width:100%;
	height:600px;
	background-size:cover;
	background-position:center;
	z-index:-3;
	position:absolute;
	top:0;
}

.programasdesarrollo{
	width:40%;
	background-color:#e5d4df;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	margin-top:700px;
	margin-bottom:150px;
}

.programasdesarrollo h2{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:40px;
	font-family:'coneria';
	font-weight:bold;
	padding-top:50px;
}

.programasdesarrollo h3{
	text-align:center;
	padding-bottom:50px;
	font-family:'amaranth';
	padding-top:40px;
	color:rgba(149,156,166,1);
	font-size:35px;
	width:140%;
	margin-left:-20%;
}

.programasdesarrollo p{
	width:140%;
	margin-left:-20%;
	margin-right:auto;
	text-align:center;
	font-size:35px;
	font-family:'amaranth';
	color:#7b7478;
	padding-top:30px;
	padding-bottom:50px;
}

.desarrolloprin{
	margin-bottom:100px;
	width:100%;
	display:inline-flex;
}

/*.titulosdesarrollo{
	width:80%;
	margin-top:7%;
}

.titulosdesarrollo h2{
	width:100%;
	font-family:'coneria';
	font-size:40px;
	text-align:left;
	margin-left:17%;
}

.fondotitulodes{
	width:40%;
	background-color:#e4e4e4;
	height:70px;
	margin-top:-100px;
	margin-left:8%;
}

.imgdesarrollo1{
	margin-left:15%;
	margin-top:100px;
	z-index:-4;
	position:relative;
}

.imgdesarrollo1 img{
	width:50%;
}

.cuadroimagenes1{
	width:45%;
	background-color:#dad1e0;
	height:auto;
	margin-left:35%;
	margin-top:-100px;
	z-index:4;
	padding-bottom:90px;
}

.cuadroimagenes1 p{
	font-family:'arimo';
	font-size:32px;
	margin-left:15%;
	margin-right:15%;
	padding-top:100px;
	text-align:center;
}

.imgdesarrollo2{
	margin-left:15%;
	margin-top:100px;
	z-index:-4;
	position:relative;
}

.imgdesarrollo2 img{
	width:50%;
	margin-left:35%;
}

.cuadroimagenes2{
	width:45%;
	background-color:#dad1e0;
	height:auto;
	margin-left:15%;
	margin-top:-100px;
	z-index:4;
	padding-bottom:90px;
}

.cuadroimagenes2 p{
	font-family:'arimo';
	font-size:32px;
	margin-left:15%;
	margin-right:15%;
	padding-top:100px;
	text-align:center;
}*/

/*Dropdown*/

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: rgba(130,16,210,1);
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  height:90px;
  margin-left:auto;
  margin-right:auto;
  font-family:'coneria';
  font-weight:bold;
  display:block;
  border-radius:10px;
  font-size:30px; 
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #7f6f7a;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 25px 18px;
  background-color: #dad1e0;
  display: none;
  overflow: hidden;
  width:76%;
  color:#000000;
  border:2px solid black;
  border-radius:10px;
  margin-left:auto;
  margin-right:auto;
  font-size:25px;
  font-family:'amaranth';
  font-weight:bold;
}

.panel ul{
	margin-left:5%;
}

.panel p{
	padding-bottom:20px;
}

.panel p span{
	font-family:'coneria';
	font-size:35px;
}

.ajusteinfo{
	width:100%;
}

.ajusteinfo2{
	margin-left:0%;
}

.ajusteinfo2 img{
	width:80%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
}

/*Fin DesarrollArte*/

/*Inicio Blog*/

.header5{
	background-image:url('../img/blog/2.jpg');
	width:100%;
	height:670px;
	background-size:cover;
	background-position:center;
	z-index:1;
	position:absolute;
	top:0;
}

/*Fin Blog*/

/*Inicio Contacto*/

.header6{
	background-image:url('../img/contacto/portada.jpg');
	width:100%;
	height:600px;
	background-size:cover;
	background-position:center;
	z-index:-3;
	position:absolute;
	top:0;
}

.contactoprin{
	width:100%;
	display:inline-flex;
	margin-top:600px;;
}

.contactosec{
	width:35%;
	background-color:#a29ba0;
	height:800px;
}

.contactosec img{
	width:70%;
	margin-left:60%;
	height:600px;
	margin-top:100px;
	border-radius:10px;
}

.contactoter{
	width:65%;
}

/*Formulario*/

.form{
	width:500px;
	height:auto;
	margin-top:70px;
	margin-left:auto;
	margin-right:auto;
}

.citas4{
	width:250px;
	background-color:rgba(130,16,210,1);
	font-family:'amaranth';
	font-size:25px;
	color:#ffffff;
	margin-left:20%;
	text-align:center;
	border-radius:10px;
	padding:7px;
	cursor:pointer;
	margin-bottom:50px;
}

/*Formularios Vacantes y Solicitud*/
.input{
	float:left;
    width: 80%;
	height:30px;
    padding: 5px;
	margin-left:25px;
	border: 1px solid #ccc;
    border-radius: 4px;
	box-sizing: border-box;
	resize:none;
	background-color:#dad1e0;
	font-family:'amaranth';
	margin-top:3px;
	font-size:14px;
}

.input2{
	float:left;
	height:25px;
    padding: 5px;
	margin-left:20px;
	border: 1px solid #ccc;
    border-radius: 4px;
	box-sizing: border-box;
	resize:none;
	background-color:#dad1e0;
	margin-top:15px;
	font-size:14px;
}		

input[type=radio]{
	float:left;
	cursor: pointer;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=checkbox]{
	float:left;
	cursor: pointer;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label {
	text-align:left;
	float:left;
	width:250px;
	margin-left:25px;
	margin-right:50px;
    padding: 5px 5px 5px 0;
    display: inline-block;
	color:#a29ba0;
	font-family:'amaranth';
	font-size:25px;
	margin-top:10px;
}

.mensaje{
	height:100px;
	width:79%;
	margin-right:20px;
	margin-left:25px;
	border: 1px solid #ccc;
    border-radius: 4px;
	font-family:'amaranth';
	font-size:14px;
	background-color:#dad1e0;
	margin-top:3px;
}

.submit{
	font-family:'amaranth';
	background-color:#a29ba0;
	border: 1px solid transparent;
	padding:3px 25px;
	color:#fff;
	font-size:25px;
	margin-left:32%;
	cursor:pointer;
	margin-top:20px;
}


/*Fin Contacto*/
/*Blog*/
.blog{
	margin-top:670px;
	height:1500px;
}
